<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">Image</td>
        <td class="text-left">{{ column_name }}</td>
        <td class="text-left">{{ column_model }}</td>
        <td class="text-right">{{ column_quantity }}</td>
        <td class="text-right">{{ column_price }}</td>
        <td class="text-right">{{ column_total }}</td>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td><a href="index.php?route=customerpartner/profile&seller_id={{ product.seller_id }}">
          {% if product.store %}
            <h4 class="panel-title">{{ product.store }}</h4>
          {% endif %}
          <img src="{{ product.image }}" class="img-thumbnail" style="max-width: 100px;" />
          </a>
        </td>

        <td class="text-left">
          <a href="{{ product.href }}">{{ product.name }}</a>
          {% if not product.stock %} 
            <span class="text-danger">***</span> 
          {% endif %}
          {% if product.option %}
            {% for option in product.option %}
              <br/><small>{{ option.name }}: {{ option.value }}</small>
            {% endfor %}
          {% endif %}
          {% if product.reward %}
            <br/><small>{{ product.reward }}</small>
          {% endif %}
          {% if product.recurring %}
            <br/><span class="label label-info">{{ text_recurring_item }}</span>
            <small>{{ product.recurring }}</small>
          {% endif %}
        </td>

        <td class="text-left">{{ product.model }}</td>

        <td class="text-left">
          <div class="input-group btn-block" style="max-width: 200px;">
            <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
            <span class="input-group-btn">
              <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
              <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');">
                <i class="fa fa-times-circle"></i>
              </button>
            </span>
          </div>
        </td>

        <td class="text-right">{{ product.price }}</td>
        <td class="text-right">{{ product.total }}</td>
      </tr>
      {% endfor %}

      {# {% for voucher in vouchers %}
      <tr>
        <td></td>
        <td class="text-left">{{ voucher.description }}</td>
        <td class="text-left"></td>
        <td class="text-left">
          <div class="input-group btn-block" style="max-width: 200px;">
            <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
            <span class="input-group-btn">
              <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');">
                <i class="fa fa-times-circle"></i>
              </button>
            </span>
          </div>
        </td>
        <td class="text-right">{{ voucher.amount }}</td>
        <td class="text-right">{{ voucher.amount }}</td>
      </tr>
      {% endfor %} #}
    </tbody>
  </table>
</div>
