<div class="order-summary mb-4">

  {% for product in products %}
    <div class="row mb-2">
      <div class="col-8">
        <strong>{{ product.name }}</strong> × {{ product.quantity }}
      </div>
      <div class="col-4 text-end">
        <strong>{{ product.total }}</strong> PHP
      </div>
    </div>
  {% endfor %}

  <hr />

  <div class="row mb-2">
    <div class="col-8">
      <strong>Subtotal</strong>
    </div>
    <div class="col-4 text-end">
      <strong>{{ product_total }}</strong> PHP
    </div>
  </div>

  {% for shipping_method in shipping_methods %}
    {% if not shipping_method.error %}
      {% for quote in shipping_method.quote %}
        <div class="row mb-2">
          <div class="col-8">
            <strong>{{ quote.title }}</strong>
          </div>
          <div class="col-4 text-end">
            <strong>{{ quote.text }}</strong>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
    {% endif %}
  {% endfor %}

  <hr />

  <div class="row">
    <div class="col-8">
      <strong>Total</strong>
    </div>
    <div class="col-4 text-end">
      <strong>{{ grand_total }}</strong> PHP
    </div>
  </div>

</div>
