
<div id="seller-collection">

  <div class="col-md-3" id="seller-collection-category">
  {% if categories %}
    <div id="column-left">
      <div class="list-group border-end border-info px-3">
        <a href="{{ collection_url }}" class="list-group-item list-group-item-action {% if category_id == 0 %}active{% endif %}">
          All Products
        </a>
        
        {% for category in categories %}
          {% if category.category_id == category_id %}
            <a href="{{ category.href }}" class="list-group-item active">
              <i class="fa fa-paw me-3"></i> {{ category.name }}
            </a>
            {% if category.children %}
              {% for child in category.children %}
                <a href="{{ child.href }}" class="list-group-item {% if child.category_id == child_id %}active{% endif %} list-group-subitem">
                  <i class="fa fa-paw me-3"></i> {{ child.name }}
                </a>
              {% endfor %}
            {% endif %}
          {% else %}
            <a href="{{ category.href }}" class="list-group-item {% if category.category_id == category_id %}active{% endif %}">
              <i class="fa fa-paw me-3"></i> {{ category.name }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>


  <div class="col-md-9">
    <div class="row mb-3">

      <div class="col-md-6 col-sm-12 mb-2">
        <div class="form-group input-group input-group-sm">
          <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
          <select id="input-sort" class="form-control mx-2">
            {% for sorts in sorts %}
              <option value="{{ sorts.href }}" {{ sorts.value == '%s-%s'|format(sort, order) ? 'selected="selected"' : '' }}>{{ sorts.text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 mb-2">
        <div class="form-group input-group input-group-sm">
          <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
          <select id="input-limit" class="form-control mx-2">
            {% for limits in limits %}
              <option value="{{ limits.href }}" {{ limits.value == limit ? 'selected="selected"' : '' }}>{{ limits.text }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="d-flex justify-content-center">
      <div class="col-md-9 col-sm-12 mb-2">
        <div class="form-group input-group input-group-sm px-4">
          <label class="input-group-addon" for="input-sort">{{ text_product_name }}: </label>
          <input type="text" style="border-bottom: 1px solid #162F65;;" name="input" value="{{ product_name is defined and product_name ? product_name : '' }}"  class="form-control col-sm-3 mx-3"/>
        </div>
      </div>
      </div>
      
    </div>

    {% if products %}
	<div class="container">
		<div class="row-product">
		{% for product in products %}
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
			<div class="product-thumb rounded-4 p-3 d-flex flex-column justify-content-between transition" style="width: 250px;">
			<div class="image text-center">
			<a href="{{ product.href }}">
				<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid mx-auto d-block"/></a>
			</div>
			<div class="caption mt-3">
				<a class="text-decoration-none text-black" href="{{ product.href }}">
					<h4 class="fs-5 text-black">{{ product.name }}</h4>
					<p class="text-break text-truncate-2">{{ product.description }}</p></a>

				{% if product.price %}
					<p class="price mt-2">
					{% if not product.special %}
						{{ product.price }}
					{% else %}
						<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
					{% endif %}
					{% if product.tax %}
						<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
					{% endif %}
					</p>
				{% endif %}

				{% if product.rating %}
				<div class="rating d-flex gap-1 fs-4">
				{% for i in 1..5 %}
					{% if product.rating < i %}
					<i class="fa fa-paw text-muted"></i>
					{% else %}
					<i class="fa fa-paw stars"></i>
					{% endif %}
				{% endfor %}
				</div>
				{% endif %}
			</div>

			<div class="button-group mt-3">
				<button type="button" onclick="cart.add('{{ product.product_id }}');">
				<i class="fa fa-shopping-cart"></i>
				<span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
				</button>
				<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
				<i class="fa fa-heart"></i>
				</button>
				<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
				<i class="fa fa-exchange"></i>
				</button>
			</div>
			</div>
		</div>
		{% endfor %}
    	</div>
	</div>

    <div class="row mt-4">
      <div class="col-sm-6 text-left">{{ pagination }}</div>
      <div class="col-sm-6 text-right">{{ results }}</div>
    </div>
    {% else %}
      {% if not categories %}
        <p>{{ text_empty }}</p>
      {% endif %}
    {% endif %}
  </div>
</div>
