<style>
	.feedback {
		font-size: 15px;
	}
</style>

{% if feedbacks %}
	{% for feedback in feedbacks %}

	<div class="review-container feedback">
		<div class="reviewer-name name" >
			<i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;{{ feedback['nickname'] }}
					&nbsp;&nbsp;&nbsp;
			<i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;{{ feedback['createdate'] }}
		</div>

		<div class="rating d-flex gap-3 my-3">
			{% if review_fields is defined and review_fields %}
				{% for review_field in review_fields %}
					{% if feedback['review_attributes'][review_field['field_id']] is defined %}
					<div class="review-rating">
						<div class="text-container">
							{{ review_field['field_name'] ~ ' :  ' }}
						</div>
						<div class="rating-container">
							<div class="rating-container fs-4">
								{% for i in 1..5 %}
									{% if i < feedback['review_attributes'][review_field['field_id']] %}
										<i class="fa fa-paw stars"></i>
									{% else %}
											<i class="fa fa-paw text-muted"></i>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				{% endif %}
		</div>

    <div class="review-content">
        {{ feedback['review'] }}
    </div>
	</div>
	{% endfor %}
	<div class="row">
							<div class="col-sm-6 text-left">{{ pagination }}</div>
							<div class="col-sm-6 text-right">{{ results }}</div>
						</div>



	{% else %}
		<div class="mp-no-location-found">{{ text_no_feedbacks}}</div>
	{% endif %}
