{{ header }}
<script>
	var base_url = location.origin;
	var current_url = location.href;{% if admin_analytic_id is defined and admin_analytic_id and profile_analytic is defined and profile_analytic %}

	ga('create', '{{ admin_analytic_id }}', 'auto', 'AdminTracker');
	ga('AdminTracker.set', 'page', current_url.replace(base_url, ''));
	ga('AdminTracker.send', 'pageview');{% endif %}
	{% if seller_analytic_id is defined and seller_analytic_id and profile_analytic is defined and profile_analytic %}
	ga('create', '{{ seller_analytic_id }}', 'auto', 'SellerTracker');
	ga('SellerTracker.set', 'page', current_url.replace(base_url, ''));
	ga('SellerTracker.send', 'pageview');{% endif %}
	$(document).on('ajaxComplete', function(event, request, settings) { // console.log(settings.url);
		var seller_collection = 'customerpartner/profile/collection';
		if (settings.url.includes(seller_collection)) {
			var ajaxURL = settings.url;{% if admin_analytic_id is defined and admin_analytic_id and collection_analytic is defined and collection_analytic %}
			ga('create', '{{ admin_analytic_id }}', 'auto', 'AdminTracker');
			ga('AdminTracker.set', 'page', ajaxURL.replace(base_url, ''));
			ga('AdminTracker.send', 'pageview');{% endif %}
			{% if seller_analytic_id is defined and seller_analytic_id and collection_analytic is defined and collection_analytic %}
			ga('create', '{{ seller_analytic_id }}', 'auto', 'SellerTracker');
			ga('SellerTracker.set', 'page', ajaxURL.replace(base_url, ''));
			ga('SellerTracker.send', 'pageview');{% endif %}
		}
	});
</script>
<div id="container" class="container j-container">

  <div id="top" class="top top-row" style="background-color:transparent;border: none;">
        <div class="ms-container">
          <div class="ms-inner-controls-cont">
            <div class="ms-view ms-fade-flow-view">
              <div class="ms-slide-container"
                style="transform-style: preserve-3d; transform: translateX(0px) translateZ(0px);">
                <div class="module-item module-item-1 ms-slide ms-sl-selected" data-delay="2.5"
                  style="height: 250px;left: 0px;opacity: 1;transform: translateZ(0px) rotateY(0deg);z-index: 2;">
                  <div class="ms-slide-bgcont" style="height: 100%; opacity: 1;">                                   
                    {% if partner['companylogo'] is defined and partner['companylogo'] %}
                    <img
                      src="{{ partner['companylogo'] }}"
                      srcset="{{ partner['companylogo'] }}"
                      alt="{{ partner['companyname'] }}" width="160" height="60"
                      style="width: 200px;height: 80px;margin-top: 0;margin-left: 0px;object-fit: cover;">
                    {% endif %}
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
  </div>

	<div class="min-profile-wk-mp" style="gap: 10px;">
		<div id="content">
			<div class="col-md-2 col-sm-12 col-xs-12 min-profile min-profile-left" style="height:fit-content;padding:0 0 0 0;">
				{# <div class=""> #}
				
					<div class="product-thumb product-wrapper" style="">
						<div class="wk-new">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="image">
									{% if (partner['avatar'] is defined and partner['avatar']) %}
										<img src="{{ partner['avatar'] }}" alt="{{ partner['firstname'] }}" class="image-seller zoom" style="height:100px;object-fit:content;">
									{% endif %}
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="upper-detail">
									<div class="wk-right wk-title">
										<p style="overflow-wrap:break-word;">
											{% if partner['companyname'] is defined and partner['companyname']  %}
												{% set full_name = partner['companyname'] %}
												{{ partner['companyname'] }}
											{% else %}
												{% set full_name = partner['firstname']~" "~partner['lastname'] %}
												{{ full_name }}
											{% endif %}
										</p>									
									</div>
									<div class="wk-right wk-link" {% if full_name|length < 12 %} style="margin-top:10px; margin-bottom:10px;" {% endif %}>
										<a href="{{sellerHref}}">{{ text_view_store }}</a>
									</div>

									<div class="wk-right wk-product-count">
										<p>{{ seller_total_products ~ text_products_counts}}</p>
									</div>
								</div>

							</div>
						</div>
						
						<div class="min-contact" style="text-align: start;">
							<div class="card-div seller-rating">
								<div class="card-div-first">{{ text_store_rating }}</div>
								<div class="card-div-scnd {% if feedback_total %}rating{% else %}rating no-rating{% endif %} {% if (j3.settings.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
									{% set giveReview = 0 %}
									{% if (customer_id != seller_id) %}								
										{% if (logged) %}
											{% if (give_review) %}
												{% set giveReview = 0 + 1 %}
											{% endif %}									
										{% endif %}
									{% endif %}

									{% if feedback_total %}
										<div class="rating-stars {% if giveReview %}review-button-popup {% endif %}">
											{% for i in 1..5 %}
												{% if feedback_total < i %}
													<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endif %}
											{% endfor %}
											<span style="color:#E69500; font-size:14px; font-weight:600;" id="rating-text">&nbsp;{{ feedback_total }}</span>
										</div>									
									{% else %}								
										<div class="rating-stars {% if giveReview %}review-button-popup {% endif %}">
											{% for i in 1..5 %}
												{% if feedback_total < i %}
													<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endif %}
											{% endfor %}

											<span style="color:#E69500; font-size:14px; font-weight:600;" id="rating-text">&nbsp;{{ feedback_total }}</span>
										</div>									
									{% endif %}								
									
								</div>
							</div>
						</div>
						<div class="min-contact" style="text-align: start;">
							
							{% if partner['telephone'] and telephone %}
								<div class="card-div seller-mobile">
									<div class="card-div-first"><span></span></div>
									<div class="card-div-scnd">
										<a href="tel:{{ partner['telephone'] }}">{{ partner['telephone'] }}</a>
									</div>
								</div>						
							{% endif %}

							{% if partner['email'] and email %}
								<div class="card-div seller-email">
									<div class="card-div-first"><span></span></div>
									<div class="card-div-scnd">
										<a href="mailto:{{ partner['email'] }}">										
											<span>{{ partner['email']}}</span>
										</a>
									</div>
								</div>
							
							{% endif %}

							{% if partner['companylocality'] %}
								<div class="card-div seller-location">
									<div class="card-div-first"><span></span></div>
									<div class="card-div-scnd">
										<a href="https://www.google.com/maps/place/{{ partner['companylocality'] }}" target="_blank">
											<span>{{ partner['companylocality'] }}</span>
										</a>
									</div>
								</div>
							
							{% endif %}
							
							{% if (achivment['filepath'] is defined and achivment['filepath']) %}
								<div class="card-div seller-achivment">
									<div class="card-div-first"><span></span></div>
									<div class="card-div-scnd" style="text-align: end;display: flex;align-items: center; justify-content: space-between;gap:5px;">
										<span class="achivment-span-file">{{achivment.basename}}</span>
										<a href="{{ achivment['filepath'] }}" target="_blank" class="wk-btn btn btn-sm btn-info">
											<i class="fa fa-eye"></i>									
										</a>
									</div>
								</div>
							
							{% endif %}

							{% if (marketplace_customercontactseller) %}
								<div class="card-div">								
									<div class="card-div-scnd connect-icons">
										{% if (partner['facebookid'] is defined and partner['facebookid']) %}
										<span>
												<a href="http://facebook.com/{{ partner['facebookid'] }}">
													<i class="fa fa-facebook-square zoom" style="color:#395185"></i>
												</a>
										</span>
										{% endif %}

											{% if (partner['twitterid'] is defined and partner['twitterid']) %}
										<span>
												<a href="http://twitter.com/{{ partner['twitterid'] }}">
													<i class="fa fa-twitter zoom" style="color:#55ACEE"></i>
												</a>
										</span>
											{% endif %}

											{% if(partner['linkedId'] is defined and partner['linkedId']) %}
										<span>
												<a href="https://{{ partner['linkedId'] }}">
													<i class="fa fa-linkedin-square zoom" style="color:#398185"></i>
												</a>
										</span>
											{% endif %}

											{% if(partner['instagram'] is defined and partner['instagram']) %}
										<span>
												<a href="https://www.instagram.com/{{ partner['instagram'] }}">
													<i class="fa fa-instagram zoom" aria-hidden="true" style="color:#CD929B"></i>

												</a>
										</span>
											{% endif %}

											{% if(partner['youtube'] is defined and partner['youtube']) %}
										<span>
												<a href="https://www.youtube.com/c/{{ partner['youtube'] }}">
													<i class="fa fa-youtube-play zoom" aria-hidden="true" style="color:#FF0000"></i>
												</a>
										</span>
											{% endif %}

											{% if(logged)  %}
										<span>
												<a data-toggle="modal" data-target="#myModal-seller-mail">
													<i class="fa fa-envelope-o zoom"></i>
												</a>
												</span>
											{% else %}
										<span>
											<a href="{{ login }}" data-toggle="tooltip-hover" data-original-title="{{ text_login_contact }}">
												<i class="fa fa-envelope zoom"></i>
											</a>
										</span>
											{% endif %}
									</div>
									<!-- connect-icons -->
								</div>
							{% endif %}

							<div id="tab-location" class="card-div"></div>

						</div>
					</div>
				{# </div> #}

			</div><!-- emd col-3 -->

			{# tab start #}
			<div class="col-md-10 col-sm-12 col-xs-12 min-profile min-profile-right" style="border: 1px solid #dde;padding-left: 15px;padding-right: 15px;border-radius: 10px;">
				<div class="module module-categories module-categories-wk-mp  module-categories- align-to-content">
					<div class="module-body" id="wk-mp-body">
						<div class="tab-container">
							<ul class="nav nav-tabs">
								<li class="mp-list-group-item">
									<a href="#tab-profile" data-toggle="tab">
										<center><img src="image/MP/profile.png" /></center>
										&nbsp;<p class="wk-mp-tab-text">{{ text_profile }}</p>
									</a>
								</li>

								{% if public_seller_profile is defined and 'store' in public_seller_profile %}
								<li class="mp-list-group-item">
									<a href="#tab-store" data-toggle="tab">
										<center><img src="image/MP/about.png" /></center>
										&nbsp;<p class="wk-mp-tab-text">{{ text_store }}</p>
									</a>
								</li>
								{% endif %}

								{% if public_seller_profile is defined and 'collection' in public_seller_profile %}
								<li class="mp-list-group-item">
									<a href="#tab-collection" data-toggle="tab">
										<center><img src="image/MP/collection.png" /></center>
										&nbsp;<p class="wk-mp-tab-text">
											{{ text_collection ~ ' (' ~ (collection_total ? collection_total : '0') ~ ')' }}
										</p>
									</a>
								</li>
								{% endif %}
								{% if public_seller_profile is defined and 'review' in public_seller_profile %}
								<li class="mp-list-group-item">
									<a href="#tab-reviews" data-toggle="tab">
										<center><img src="image/MP/review.png" /></center>
										&nbsp;<p class="wk-mp-tab-text">
											{{ text_reviews ~ ' (' ~ (feedback_total ? feedback_total : '0') ~ ')' }}
										</p>
									</a>
								</li>
								{% endif %}
								{% if public_seller_profile is defined and 'productReview' in public_seller_profile %}
								<li class="mp-list-group-item">
									<a href="#tab-product-reviews" data-toggle="tab">
										<center><img src="image/MP/product.png" /></center>
										&nbsp;<p class="wk-mp-tab-text">
											{{ text_product_reviews ~ ' ('  ~ (product_feedback_total ? product_feedback_total : '0') ~ ')' }}
										</p>
									</a>
								</li>
								{% endif %}

							</ul>
						</div>
						
					</div>
				</div>
			
				<div class="tab-content">
					<div id="tab-profile" class="module-item module-item-1 tab-pane"
						id="categories-6527a7b2cadc3-tab-1">
						<p class="wk-mp-tab-content-text">{{ text_profile }}</p>
						<div class="category-grid no-scroll-prev" data-loaded="true" style="flex-flow: wrap;word-break: break-word;">
							{{ partner['shortprofile'] | raw }}
							{# {% if informations is defined and informations %}
							<h3 style="line-height: 24px;color: rgb(0, 0, 0);margin-top: 0px;">
								{{ text_seller_information }}</h3>
							{% for information in informations %}
							<div>
								<a href="{{ information['href'] }}" target="_blank">{{ information['title'] }}</a>
							</div>
							{% endfor %}
							{% endif %} #}
						</div>
					</div>
					<!-- tab-profile -->
					{% if public_seller_profile is defined and 'store' in public_seller_profile %}
					<div id="tab-store" class="module-item module-item-1 tab-pane"
						id="categories-6527a7b2cadc3-tab-2">
						<p class="wk-mp-tab-content-text">{{ text_store }}</p>
						<div class="category-grid no-scroll-prev" data-loaded="true" style="flex-flow: wrap;word-break: break-word;">
							{{ partner['companydescription'] | raw }}
						</div>
					</div>
					<!-- tab-store -->
					{% endif %}

					{% if public_seller_profile is defined and 'review' in public_seller_profile %}
					<div id="tab-reviews" class="module-item module-item-1 tab-pane"
						id="categories-6527a7b2cadc3-tab-3">
						<p class="wk-mp-tab-content-text">
							{{ text_reviews ~ ' (' ~ (feedback_total ? feedback_total : '0') ~ ')' }}
						</p>
						<div class="category-grid no-scroll-prev" data-loaded="true">
							<div id="prev-reviews" style="width:100%;"></div>
						</div>
					</div>
					<!-- tab-reviews -->
					{% endif %}

					{% if public_seller_profile is defined and 'productReview' in public_seller_profile %}
					<div id="tab-product-reviews" class="module-item module-item-1 tab-pane"
						id="categories-6527a7b2cadc3-tab-4">
						<p class="wk-mp-tab-content-text">
							{{ text_product_reviews ~ ' ('  ~ (product_feedback_total ? product_feedback_total : '0') ~ ')' }}
						</p>
						<div class="category-grid no-scroll-prev" data-loaded="true"></div>
					</div>
					<!-- tab-product-reviews -->
					{% endif %}

					{% if public_seller_profile is defined and 'collection' in public_seller_profile %}
					<div id="tab-collection" class="module-item module-item-1 tab-pane"
						id="categories-6527a7b2cadc3-tab-5">
						<p class="wk-mp-tab-content-text">
							{{ text_collection ~ ' (' ~ (collection_total ? collection_total : '0') ~ ')' }}
						</p>
						<div class="category-grid no-scroll-prev" data-loaded="true"></div>
					</div>
					<!-- tab-collection -->
					{% endif %}
					<div id="dummy-collection"></div>
				</div>
			</div>
			{# end here #}
		</div>
	</div>
</div>
<!-- container -->

{% if logged %}
<div class="modal fade" id="myModal-seller-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">{{ text_close }}</span>
				</button>
				<h3 class="modal-title">{{ text_ask_seller }}</h3>
			</div>
			<form id="seller-mail-form">
				<div class="modal-body">
					<div class="form-group required">
						<label class="control-label" for="input-subject">{{ text_subject }}</label>
						<input type="text" name="subject" style="width:95%;" id="input-subject" class="form-control" />
						{% if partner is defined %}
						<input type="hidden" name="seller" value="{{ seller_id }}" />
						{% endif %}
					</div>
					<div class="form-group required">
						<label class="control-label" for="input-message">{{ text_ask }}</label>
						<textarea class="form-control" name="message" style="width:95%;" rows="3"
							id="input-message"></textarea>
					</div>
					<div class="error text-center"></div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="wk-btn btn btn-default" data-dismiss="modal">{{ text_close }}</button>
				<button type="button" class="wk-btn btn btn-primary" id="send-mail">{{ text_send }}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endif %}

<div class="modal fade" id="myModal-seller-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="padding:12px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">{{ text_close }}</span>
				</button>
				<h3 class="modal-title">{{ text_write_review }}</h3>
			</div>
			<div class="modal-body" id="review-modal">
				<form class="form-horizontal" id="seller_review_form">
					<div class="form-group required">
						<div class="col-sm-12">
							<label class="control-label" for="input-name"
								>{{ text_nickname }}</label>
							<input type="text" name="name" value="" style="max-width:95% !important;" id="input-name"
								class="form-control" />
						</div>
					</div>
					<div class="form-group required">
						<div class="col-sm-12">
							<label class="control-label" for="input-review">{{ text_review }}</label>
							<textarea name="text" rows="5" id="input-review" style="width:95%;" class="form-control"></textarea>
						</div>
						<div class="help-block pull-right">
							{{ text_note }}
						</div>
					</div>
					{% if review_fields is defined and review_fields %}
					{% for review_field in review_fields %}
						<div class="form-group required">
							<div class="col-sm-3">
								<label class="control-label">{{ review_field['field_name'] }}</label>

							</div>
							<div style="display: inline-block;">
							&nbsp;&nbsp;&nbsp;{{ entry_bad }}&nbsp;
							{% for i in 1..5 %}
							<input type="radio" id="review_attributes[{{ review_field['field_id']}}]"
								name="review_attributes[{{ review_field['field_id']}}]" value="{{ i}}" />
							{% endfor %}
							&nbsp;{{ entry_good }}
							</div>
						</div>
					{% endfor %}
					{% endif %}
				</form>
			</div>
			<button type="button" class="wk-btn btn btn-default" data-dismiss="modal">{{ text_close }}</button>
			<button type="button" id="button-review" data-loading-text="{{ text_loading }}"
				class="wk-btn btn btn-primary">{{ text_send }}</button>
		</div>
	</div>
	<!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">
	$(document).find('.review-button-popup').on('click', function() {
		$('#myModal-seller-review').appendTo('body').modal();
		$(document).find('#myModal-seller-review').modal('show');
	});
	$('.nav-tabs li a').on('click', function() {
		if ($(this).attr('href')) {
			localStorage.setItem("tab-active", $(this).attr('href'))
		}
	});

	$(document).ready(function() {
		localStorage.setItem('hide-child', 0);
		var tabe_start = window.location.search.split('?')[1];

		if(tabe_start == 'tab=profile') {
			localStorage.setItem("tab-active",'');
			
			history.pushState(null, '', '{{sellerHrefLocation}}');  
			
		}
		var tab_active = '#tab-profile';

		if (localStorage.getItem("tab-active")) {
			tab_active = localStorage.getItem("tab-active");
		}

		if (tab_active) {
			$('a[href="' + tab_active + '"]').parent().addClass('active');
			$('a[href="' + tab_active + '"]').parent().siblings().removeClass('active');
			$(tab_active).addClass('active');
			$(tab_active).siblings().removeClass('active');

			var src = $('a[href="' + tab_active + '"]').find('img').attr('src');
			if (src) {
				src = src.substring(0, src.indexOf('.'));

				src = src + '-active.png';

				$('a[href="' + tab_active + '"]').find('img').attr('src', src);
			}

		}
	});
</script>
<script type="text/javascript">
	$('.mp-list-group-item a').on('click', function() {
		var src = $(this).find('img').attr('src');
		if (src.substring(0, src.indexOf('-'))) {
			src = src.substring(0, src.indexOf('-'));
		} else {
			src = src.substring(0, src.indexOf('.'));
		}
		src = src + '-active.png';

		$(this).find('img').attr('src', src)

		$($(this).parent().siblings().find('img')).each(function(index, value) {
			var sibling_src = $(this).attr('src');

			if (sibling_src.substring(0, sibling_src.indexOf('-'))) {
				sibling_src = sibling_src.substring(0, sibling_src.indexOf('-'));
			} else {
				sibling_src = sibling_src.substring(0, sibling_src.indexOf('.'));
			}
			sibling_src = sibling_src + '.png';

			$(this).attr('src', sibling_src)
		});
	});

	collectionUrl = '{{ collection }}';
	// alert(collectionUrl);
	function loadCollection(showMenu) {
		$.ajax({
			url: collectionUrl,
			dataType: 'html',
			success: function(response) {
				categoryMenu = $(response).find('#column-left').html();
				$('#category-menu').remove();
				$('.left-panel').append(categoryMenu);

				let html = '<p class="wk-mp-tab-content-text">{{ text_collection ~ " (" ~ (collection_total ? collection_total : "0") ~ ")" }}</p>' + response;

				$('#tab-collection').html(html);
				if (showMenu) {
					$('#category-menu').show();
				}
				if (localStorage.getItem('display') == 'list') {
					$('#list-view').trigger('click');
				} else {
					$('#grid-view').trigger('click');
				}

				if ($('#category-menu li').hasClass('hide-child')) {
					if (localStorage.getItem("hide-child") == 1) {
						$('.hide-child').css('display', 'none');
						localStorage.setItem('hide-child', 0);
					} else {
						localStorage.setItem('hide-child', 1);
					}
				}
			}
		})
	}
	function loadCollectionProduct(showMenu,data = 0){
  $.ajax({
    url : collectionUrl,
    type:'POST',
    data:data,
    dataType: 'html',
    success: function(response) {
      categoryMenu = $(response).find('#column-left').html();
      $('#category-menu').remove();
      $('.left-panel').append(categoryMenu);
      $('#tab-collection').html(response);
      if(showMenu) {
        $('#category-menu').show();
      }
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }

      if ($('#category-menu li').hasClass('hide-child')) {
        if (localStorage.getItem("hide-child") == 1) {
          $('.hide-child').addClass('hide');
          localStorage.setItem('hide-child', 0);
        } else{
          localStorage.setItem('hide-child', 1);
        }
      }
    }
  })
}
	(function($) {
		$('#main-tab li').on('click', function() {
			tab = $(this).children('a').data('tab');
			$('.mp-list-group li').removeClass('mp-active');
			$(this).addClass('mp-active');
			$('.mp-tab-content').removeClass('mp-tab-active');
			$(tab).addClass('mp-tab-active');
			if (tab == '#tab-collection') {
				$('#category-menu').show();
			} else {
				$('#category-menu').hide();
			}
		});

		$.ajax({
			url: '{{ feedback }}',
			dataType: 'html',
			success: function(response) {
				$('#prev-reviews').html(response);
			}
		});

		$.ajax({
			url: '{{ product_feedback }}',
			dataType: 'html',
			success: function(response) {
				let html = '<p class="wk-mp-tab-content-text">{{ text_product_reviews ~ " ("  ~ (product_feedback_total ? product_feedback_total : "0") ~ ")" }}</p>' + response;

				$('#tab-product-reviews').html(html);
			}
		});

		loadCollection(false);

	})(jQuery)

	
	{% if showCollection %}
		$('a[href="#tab-collection"]').trigger('click');
	{% endif %}

	
	{# $(document).find('.mp-list-group#category-menu li').on('click', function() {	
		
		collectionUrl = $(this).children('a').data('collection-url');
		$('#category-menu li').removeClass('mp-active');
		$(this).addClass('mp-active');
		loadCollection(true);
	}); #}

	{% if logged %}
	$('#send-mail').on('click', function() {
		f = 0;
		$('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function() {
			if ($(this).val() == '') {
				$(this).parent().addClass('has-error');
				f++;
			} else {
				$(this).parent().removeClass('has-error');
			}
		});

		if (f > 0) {
			$('#myModal-seller-mail .error').addClass('text-danger');
			$('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
		} else {
			$('#send-mail').addClass('disabled');
			$('#myModal-seller-mail').addClass('mail-procss');
			$('.alert-success').remove();
			$('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success success" style="width:95%;"><i class="fa fa-check-circle"></i>  {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			$.ajax({
				url: '{{ send_mail }}',
				data: $('#seller-mail-form').serialize() + '{{ mail_for }}',
				type: 'post',
				dataType: 'json',
				complete: function() {
					$('#send-mail').removeClass('disabled');
					$('#myModal-seller-mail input,#myModal-seller-mail textarea').each(
						function() {
							if (this.type != 'hidden') {
								$(this).val('');
								$(this).text('');
							}
						});
				}
			});
		}
	});
	{% endif %}
</script>
<script type="text/javascript">
	$.ajax({
		url: '{{ loadLocation }}',
		dataType: 'html',
		success: function(response) {
			$('#tab-location').html(response);
		}
	});

	localocation = false;
	$('#main-tab li').on('click', function() {
			if (!localocation) {
				$.ajax({
					url: '{{ loadLocation }}',
					dataType: 'html',
					success: function(response) {
						$('#tab-location').html(response);
					}
				});
				localocation = true;
			}
		})

		/**
   		* [To store feedback]
		* @return {none} [It will not return anything just reflect the form if unsuccessful and empty the form if successful]
		*/
	$('#button-review').on('click', function() {
		$.ajax({
			url: '{{ writeFeedback }}',
			type: 'post',
			dataType: 'json',
			data: $('#seller_review_form input[type=\'text\'],input[type=\'radio\']:checked,textarea'),

			beforeSend: function() {
				$('#button-feedback').button('loading');
			},
			complete: function() {
				$('#button-feedback').button('reset');
			},
			success: function(json) {
				$('.alert-success, .alert-danger').remove();

				if (json['error']) {
					$('#review-modal').before(
						'<div class="alert alert-danger warning" style="width:95%;"><i class="fa fa-exclamation-circle"></i> ' +
						json['error'] +
						'<button class="close" type="button" data-dismiss="alert" >&times;</button></div>'
						);
				}
				if (json['success']) {
					$('.alert-success').remove();
					$('#review-modal').prepend(
						'<div class="alert alert-success success" style="width:95%;"><i class="fa fa-check-circle"></i> ' +
						json['success'] + '</div>');
					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					$('input[name=\'price_rating\']:checked').prop('checked', false);
					$('input[name=\'quality_rating\']:checked').prop('checked', false);
					$('input[name=\'value_rating\']:checked').prop('checked', false);
				}
			}
		});
	});
</script>
<script>
	// Product List
	$('body').on('click', '#list-view', function() {
		$('#content .product-layout > .clearfix').remove();

		$('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');

		localStorage.setItem('display', 'list');
	});

	// Product Grid
	$('body').on('click', '#grid-view', function() {
		$('#content .product-layout > .clearfix').remove();

		// What a shame bootstrap does not take into account dynamically loaded columns
		cols = $('#column-right, #column-left').length;

		if (cols == 2) {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');

			// $('#content .product-layout:nth-child(2)').after('<div class="clearfix visible-md visible-sm"></div>');
		} else if (cols == 1) {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

			// $('#content .product-layout:nth-child(3)').after('<div class="clearfix visible-lg"></div>');
		} else {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

			// $('#content .product-layout:nth-child(3)').after('<div class="clearfix"></div>');
		}

		localStorage.setItem('display', 'grid');
	});

	if (localStorage.getItem('display') == 'list') {
		$('#list-view').trigger('click');
	} else {
		$('#grid-view').trigger('click');
	}


$('body').on('change', '#seller-collection select',function() {
  collectionUrl = this.value;
  loadCollection(true);
  // $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  // $('#tab-collection').load(thisvalue,function(){
  //     $('.remove-me').remove();
  //   });
});

//   Module Update Code Start;

var waitTimer = 2000;
$('body').on('keyup', '#seller-collection input',function() {
   let el_val = this.value;
   console.log(el_val);
   setTimeout(function () {
      loadCollectionProduct(true,'product_name= '+el_val);
    }, waitTimer);
});

//   Module Update Code Ends;

$('body').on('click','#seller-collection a',function(e){
  if(!$(this).hasClass('default-work'))
    e.preventDefault();
  else
    return;

  thisvalue = this.href;
  $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  $('#tab-collection').load(thisvalue,function(){
      $('.remove-me').remove();
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }
    });
});

	{# $('body').on('change', '#seller-collection select', function() {
		loadCollection(true);
	}); #}

	/*$('body').on('click', '#seller-collection .pagination a', function(e) {
	    if (!$(this).hasClass('default-work'))
	       e.preventDefault();
	     else
	       return;

	     thisvalue = this.href;
	    $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
	    $('#tab-collection').load(thisvalue, function() {
	       $('.remove-me').remove();
	       if (localStorage.getItem('display') == 'list') {
	       $('#list-view').trigger('click');
	       } else {
	         $('#grid-view').trigger('click');
	       }
	     });
	   });*/
	function loadCollection_collection(showMenu, collectionUrl) {


		$.ajax({
			url: collectionUrl,
			dataType: 'html',
			success: function(response) {
				categoryMenu = $(response).find('#column-left').html();
				$('#category-menu').remove();
				$('.left-panel').append(categoryMenu);
				
				let html = '<p class="wk-mp-tab-content-text">{{ text_collection ~ " (" ~ (collection_total ? collection_total : "0") ~ ")" }}</p>' + response;

				$('#tab-collection').html(html);
				if (showMenu) {
					$('#category-menu').show();
				}
				if (localStorage.getItem('display') == 'list') {
					$('#list-view').trigger('click');
				} else {
					$('#grid-view').trigger('click');
				}

				if ($('#category-menu li').hasClass('hide-child')) {
					if (localStorage.getItem("hide-child") == 1) {
						$('.hide-child').css('display', 'none');
						localStorage.setItem('hide-child', 0);
					} else {
						localStorage.setItem('hide-child', 1);
					}
				}
			}
		})
	}
	$('body').on('click', 'div.stepper .fa-angle-up', function(e) {
		var val_input = parseInt(parseInt($(this).parent().parent().find('input[name="quantity"]').val()) + 1);
		$(this).parent().parent().find('input[name="quantity"]').val(val_input);

	});
	$('body').on('click', 'div.stepper .fa-angle-down', function(e) {
		if ($(this).parent().parent().find('input[name="quantity"]').val() > 1) {
			var val_input = $(this).parent().parent().find('input[name="quantity"]').val() - 1;
			$(this).parent().parent().find('input[name="quantity"]').val(val_input);
		}
	});

	

  // Grid / List toggle
	$(document).on('click', '.grid-list .view-btn', function () {
		const $this = $(this);
		const $products = $('.main-products');
		const view = $this.data('view');
		const current = $products.hasClass('product-grid') ? 'grid' : 'list';

		$this.tooltip('hide');

		if (view !== current) {
			$products.addClass('no-transitions').removeClass('product-' + current).addClass('product-' + view);

			setTimeout(function () {
				$products.removeClass('no-transitions');
			}, 1);

			const d = new Date;
			d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * 365);

			if (view === 'list') {
				document.cookie = 'view=list;path=/;expires=' + d.toGMTString();
			} else {
				document.cookie = 'view=grid;path=/;expires=' + d.toGMTString();
			}
		}

		$('.grid-list .view-btn').removeClass('active');
		$this.addClass('active');
	});

</script>
<style type="text/css">
	
	.ms-slide-bgcont {
		{% if partner['companybanner'] %}
		  background: url("{{ partner['companybanner'] }}") no-repeat scroll center center/100% 325px rgba(0, 0, 0, 0);	
		  background-color: #e3e3e369;
		{% elseif partner['backgroundcolor'] %}
		  background-color: {{partner["backgroundcolor"]}};
		{% else %}
		  background-color: #2BA9EF;
		{% endif %}
		  object-fit: contain;
		  background-position:center;
	}
</style>
{{ footer }}
