<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="{{ 'https://fonts.googleapis.com/css2?family=Poppins+One&family=Poppins:wght@400;500;600;700&display=swap' }}" rel="stylesheet">
  <link href="catalog\view\theme\hp\stylesheet\enhanced-hp\home\category.css" rel="stylesheet" />
  <link href="catalog\view\theme\hp\stylesheet\enhanced-hp\navbar\shoppingcart.css" rel="stylesheet" />
<div id="cart" class="cart-container">
  <button type="button" class="cart-button" onclick="toggleCartDropdown()">
    <i class="fa fa-shopping-cart"></i>
    <span id="cart-total">{{ text_items }}</span>
  </button>
  <div id="cart-dropdown" class="cart-dropdown">
    {% if products or vouchers %}
    <div class="cart-items">
      <table class="cart-table">
        {% for product in products %}
        <tr>
          <td class="thumb">
            {% if product.thumb %}
            <a href="{{ product.href }}">
              <img src="{{ product.thumb }}" alt="{{ product.name }}" />
            </a>
            {% endif %}
          </td>
          <td class="details">
            <a href="{{ product.href }}">{{ product.name }}</a>
            {% if product.option %}
              {% for option in product.option %}
              <br><small>- {{ option.name }}: {{ option.value }}</small>
              {% endfor %}
            {% endif %}
            {% if product.recurring %}
            <br><small>- {{ text_recurring }} {{ product.recurring }}</small>
            {% endif %}
          </td>
          <td class="quantity">x {{ product.quantity }}</td>
          <td class="price">{{ product.total }}</td>
          <td class="remove">
            <button onclick="cart.remove('{{ product.cart_id }}');">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td></td>
          <td>{{ voucher.description }}</td>
          <td>x 1</td>
          <td>{{ voucher.amount }}</td>
          <td class="remove">
            <button onclick="voucher.remove('{{ voucher.key }}');">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="cart-totals">
      <table>
        {% for total in totals %}
        <tr>
          <td><strong>{{ total.title }}</strong></td>
          <td>{{ total.text }}</td>
        </tr>
        {% endfor %}
      </table>
      <div class="cart-actions">
        <a href="{{ cart }}" class="view-cart"><i class="fa fa-shopping-cart"></i> {{ text_cart }}</a>
        <a href="{{ checkout }}" class="checkout"><i class="fa fa-share"></i> {{ text_checkout }}</a>
      </div>
    </div>
    {% else %}
    <p class="empty">{{ text_empty }}</p>
    {% endif %}
  </div>
</div>

<script>
  function toggleCartDropdown() {
    var dropdown = document.getElementById('cart-dropdown');
    dropdown.classList.toggle('active');
  }

  // Optional: Close the dropdown when clicking outside
  document.addEventListener('click', function(event) {
    var cart = document.getElementById('cart');
    if (!cart.contains(event.target)) {
      document.getElementById('cart-dropdown').classList.remove('active');
    }
  });
</script>