
{% if categories %}
<div class="container">
  <nav class="navbar navbar-expand-lg rounded-3 px-2" id="menu">
    <div class="container-fluid">
      <div class="navbar-header d-lg-none text-white d-flex w-100 align-items-center justify-content-between">
        <span id="category" class="visible">{{ text_category }}</span>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for category in categories %}
            {% if category.children %}
              <li class="nav-item dropdown">
                <a href="{{ category.href }}" class="nav-link dropdown-toggle text-white px-4 rounded-2" id="navbarDropdown{{ loop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ category.name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ loop.index }}">
                  <div class="dropdown-inner">
                    {% for children_batch in category.children|batch((category.children|length / category.column)|round(1, 'ceil')) %}
                      <ul class="list-unstyled">
                        {% for child in children_batch %}
                          <li><a class="dropdown-item" href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  </div>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item see-all" href="{{ category.href }}">{{ text_all }} {{ category.name }}</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white px-4 rounded-2" href="{{ category.href }}">{{ category.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endif %}



{# <div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}  #}