<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="catalog/view/theme/hp/stylesheet/contact-success.css" rel="stylesheet">
</head>
<body>

  {{ header }}

  <hr class="contact-hr">
  <nav id="checkout-checkout" class="container mb-4 mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-black" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>

<div id="common-success" class="container">
  <div class="success-content">

    <div id="content" class="text-center container">
      <h1>Enquiry Sent Successfully!</h1>
      <p>Our team has received your message and will get back to you as soon as possible</p>
    </div>

    <div class="button-group">
      <div class="view-order"><i class="fa fa-exclamation-circle">
        </i><strong> You can track your orders at <a href="index.php?route=account/account">View Orders</a></strong></div>
      <div class="container px-4">
      <div class="buttons">
        <div class="mb-5"><a href="{{ continue }}" class="back-btn">Back Home</a></div>
      </div>
      </div>
    </div>

    </div>
</div>
{{ footer }}

</body>
</html>




