{% if reviews %}
  
  {% for review in reviews %}
    <div class="mb-1">
      <div class="card-body px-4">
        <h5 class="card-title">{{ review.author }}</h5>
        <div class="mb-2">
            {% for i in 1..5 %}
              {% if review.rating < i %}
                <span class="fa fa-stack"><i class="fa fa-paw text-muted fs-4"></i></span>
              {% else %}
                <span class="fa fa-stack"><i class="fa fa-paw stars fs-4"></i></span>
              {% endif %}
            {% endfor %}
          </div>
        <p class="card-subtitle text-muted mb-2">{{ review.date_added }}</p>
        <p class="card-text me-5">{{ review.text }}</p>
      {% if review.attachments %}
        <div class="attachments mt-2 d-flex flex-wrap">
        {% for file in review.attachments %}
          <a href="image/{{ file }}" target="_blank" class="me-2 mb-2">
            <img src="image/{{ file }}" class="img-thumbnail" style="max-width: 100px;" />
          </a>
        {% endfor %}
      </div>
      {% endif %}
      </div>
    </div>
    <hr class="border border-info border-1 opacity-50">
  {% endfor %}
{% else %}
  <h3>{{ text_no_reviews }}</h3>
{% endif %}


{# <div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div> #}