{{ header }}
{# {{ separate_column_left }} #}

<style>
 .radio-card {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s;
    border-radius: 12px;
    width: 50%;
    box-shadow: 5px 5px 8px;
  }
  .radio-card input {
    display: none;
  }
  .card {
    padding: 20px;
    
  }
  .radio-card input:checked + .card {
    background-color: rgba(0, 217, 255, 0.23);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
</style>

{% if separate_view is defined and separate_view %}
  <div class="container-fluid" id="content">
{% else %}
  <div class="container">
{% endif %}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>

  {% if success %}
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success}}</div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning}}</div>
  {% endif %}

  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class}}">
      {{ content_top}}
      <h1>
        {{ heading_title_become_partner }}
        <div class="pull-right">
          <a href="{{ back}}" data-toggle="tooltip" title="{{ button_back}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
      </h1>

      <fieldset>
        <legend><i class="fa fa-list"></i> {{ heading_title_become_partner }}</legend>
        {% if customer_id %}
        <p>Customer ID: {{ customer_id }}</p>
        {% else %}
            <p>Error: Customer ID not found!</p>
        {% endif %}
      {% if isMember %}
        {% if not in_process %}
        <form action="{{ action}}" method="post" enctype="multipart/form-data"  class="form-horizontal">

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-shoppartner"><span data-toggle="tooltip" title="{{ text_shop_name_info}}">{{ text_shop_name}}</span></label>
            <div class="col-sm-10">

              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="shoppartner" value="{{ shoppartner}}" id="input-shoppartner" class="form-control" />
                
              </div>

              {% if error_shoppartner %}
              <div class="text-danger">{{ error_shoppartner}}</div>
              {% endif %}
            </div>
          </div>

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-entry"><span data-toggle="tooltip" title="{{ text_say_info}}">{{ text_say}}</span></label>
            <div class="col-sm-10">
              <textarea id="input-entry" name="description" class="form-control" rows="3">{{ description}}</textarea>
              {% if error_description %}
              <div class="text-danger">{{ error_description}}</div>
              {% endif %}
            </div>
          </div>
{#           
          Upload Documents #}
          <legend>Upload your Documents: </legend>        
            <div class="form-group required">  
              <label class="col-sm-2 control-label" for="input-dtifile"><span data-toggle="tooltip" title="{{ text_dti }}">DTI: </span> </label>
              <div class="col-sm-10 mt-3">
                  <div class="input-group">
                    <input type="file" name="dtifile" value="dtifile" id="dtifile" class="form-control">
                    {% if error_dtifile %}
                    <div class="text-danger">{{ error_dtifile }}</div>
                    {% endif %}
                  </div>  
              </div>

              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_bir }}">BIR 2303/TIN: </label>
              <div class="col-sm-10 mt-3">
                  <div class="input-group">
                    <input type="file" name="birfile" value="birfile" id="birfile" class="form-control mt-3">
                  </div>
                  {% if error_birfile %}
                  <div class="text-danger">{{ error_birfile }}</div>
                  {% endif %}
              </div>

              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_mayor }}">Mayor's Permit:</span></label>
              <div class="col-sm-10 mt-3">
                  <div class="input-group">
                    <input type="file" name="mayorfile" value="mayorfile" id="mayorfile" class="form-control mt-3">
                  </div>
                  {% if error_mayorfile %}
                  <div class="text-danger">{{ error_mayorfile }}</div>
                  {% endif %}
              </div>

              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ text_validid }}">Government Valid ID: </span></label>
              <div class="col-sm-10 mt-3">
                  <div class="input-group">
                    <input type="file" name="validid" value="validid" id="validid" class="form-control mt-3">
                  </div>
                  {% if error_validid %}
                  <div class="text-danger">{{ error_validid }}</div>
                  {% endif %}
              </div>
            </div>
{# <br>
          <legend>Choose your Subscription Plan:<span data-toggle="tooltip" title="Choose your subs type"> help</span></legend>
          <div class="form-group required">
           
            <div class="container d-flex">
              {% if error_SBSTYPE %}
                <div class="text-danger ">Please Select Pricing Option</div>
              {% endif %}
              <div class="card col-sm-10">
                <label class="radio-card">
                  <input type="radio" name="SBSTYPE" value="1" {% if SBSTYPE == '1' %}checked{% endif %} />
                  <div class="card text-center">
                    <h4><strong>Piso Per Day Per Product</strong></h4>
                    <p>description description description description description description description description 
                    description description description descriptiondescription description description description</p>
                  </div>
                  
                </label>
              </div>

              <div class="card col-sm-10">
                <label class="radio-card">
                  <input type="radio" name="SBSTYPE" value="2" {% if SBSTYPE == '2' %}checked{% endif %} />
                  <div class="card text-center">
                    <h4><strong>Piso Per Month Per Product</strong></h4>
                    <p>description description description description</p>
                  </div>
                </label>
              </div>

              <div class="card col-sm-10">
                <label class="radio-card">
                  <input type="radio" name="SBSTYPE" value="3" {% if SBSTYPE == '3'%}checked{% endif %} />
                  <div class="card text-center">
                    <h4><strong>Commission Type</strong></h4>
                    <p>description description description description description description description description 
                    description description description descriptiondescription description description description</p>
                  </div>
                </label>
              </div>
            </div>
          </div>   #}

          <div class="text-center">
            <input type="submit" value="{{ button_continue}}" class="btn btn-primary"/>
          </div>

        </form>

        {% else %}
          <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ text_delay}}</div>
        {% endif %}
      {% else %}
        <div class="text-danger">
          {{ error_warning_authenticate}}
        </div>
      {% endif %}
    </fieldset>
  </div>
{{ column_right}}</div>
</div>

{% if not in_process %}
<script>
$( "#input-shoppartner" ).change(function() {
  thisshop = this;
  shop = $(thisshop).val();
  if(shop){
    jQuery(thisshop).prev().html('<i class="fa fa-spinner fa-spin"></i>');
    $.ajax({
           type: 'POST',
           data: ({shop: shop}),
           dataType: 'json',
           url: 'index.php?route=customerpartner/sell/wkmpregistation',
           success: function(data){
             console.log(data);
              jQuery('fa-spinner').remove();
              if(data['success']){
                jQuery(thisshop).prev().html('<span data-toggle="tooltip" class="text-success" title="{{ text_avaiable}}"><i class="fa fa-thumbs-o-up"></i></span>');
              }else if(data['error']){
                jQuery(thisshop).prev().html('<span data-toggle="tooltip" class="text-danger" title="{{ text_no_avaiable}}"><i class="fa fa-thumbs-o-down"></i></span>');
              }

            }
        });
  }
});
</script>
{% endif %}
{{ footer}}
