<div style="page-break-after: always;">
</div>
<table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
	<thead>
		<tr>
			<td style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;" colspan="2">{{ text_seller_detail }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; vertical-align: top;">
				<strong>{{ store_name }}</strong><br/>
				{{ seller_address }}
				<br/>

				<b>{{ text_seller_telephone}}</b>
				{{ seller_telephone }}
				<br/>

				<b>{{ text_seller_email}}</b>
				{{ seller_email }}
				<br/>

				<b>{{ text_seller_profile_link }}</b>
				<a href="{{ seller_profile_link }}">{{ seller_profile_link }}</a>
				<br/>
			</td>
			<td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px; vertical-align: top;">
				<b>{{ text_order_date}}</b>
				{{ date_added }}<br/>
				{% if invoice_no %}
					<b>{{ text_seller_invoice_no}}</b>
					{{ invoice_no}}<br/>
				{% endif %}
				<b>{{ text_seller_order_id}}</b>
				{{order_id}}<br/>
				<b>{{ text_seller_payment_method}}</b>
				{{ payment_method}}<br/>
				{% if shipping_method %}
					<b>{{ text_seller_shipping_method}}</b>
					{{ shipping_method}}<br/>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
