<script type="text/javascript">
	$('.mp-list-group-item a').on('click', function() {
		var src = $(this).find('img').attr('src');
		if (src.substring(0, src.indexOf('-'))) {
			src = src.substring(0, src.indexOf('-'));
		} else {
			src = src.substring(0, src.indexOf('.'));
		}
		src = src + '-active.png';

		$(this).find('img').attr('src', src)

		$($(this).parent().siblings().find('img')).each(function(index, value) {
			var sibling_src = $(this).attr('src');

			if (sibling_src.substring(0, sibling_src.indexOf('-'))) {
				sibling_src = sibling_src.substring(0, sibling_src.indexOf('-'));
			} else {
				sibling_src = sibling_src.substring(0, sibling_src.indexOf('.'));
			}
			sibling_src = sibling_src + '.png';

			$(this).attr('src', sibling_src)
		});
	});

	collectionUrl = '{{ collection }}';
	// alert(collectionUrl);
	function loadCollection(showMenu) {
		$.ajax({
			url: collectionUrl,
			dataType: 'html',
			success: function(response) {
				categoryMenu = $(response).find('#column-left').html();
				$('#category-menu').remove();
				$('.left-panel').append(categoryMenu);

				let html = '<p class="wk-mp-tab-content-text">{{ text_collection ~ " (" ~ (collection_total ? collection_total : "0") ~ ")" }}</p>' + response;

				$('#tab-collection').html(html);
				if (showMenu) {
					$('#category-menu').show();
				}
				if (localStorage.getItem('display') == 'list') {
					$('#list-view').trigger('click');
				} else {
					$('#grid-view').trigger('click');
				}

				if ($('#category-menu li').hasClass('hide-child')) {
					if (localStorage.getItem("hide-child") == 1) {
						$('.hide-child').css('display', 'none');
						localStorage.setItem('hide-child', 0);
					} else {
						localStorage.setItem('hide-child', 1);
					}
				}
			}
		})
	}
	function loadCollectionProduct(showMenu,data = 0){
  $.ajax({
    url : collectionUrl,
    type:'POST',
    data:data,
    dataType: 'html',
    success: function(response) {
      categoryMenu = $(response).find('#column-left').html();
      $('#category-menu').remove();
      $('.left-panel').append(categoryMenu);
      $('#tab-collection').html(response);
      if(showMenu) {
        $('#category-menu').show();
      }
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }

      if ($('#category-menu li').hasClass('hide-child')) {
        if (localStorage.getItem("hide-child") == 1) {
          $('.hide-child').addClass('hide');
          localStorage.setItem('hide-child', 0);
        } else{
          localStorage.setItem('hide-child', 1);
        }
      }
    }
  })
}
	(function($) {
		$('#main-tab li').on('click', function() {
			tab = $(this).children('a').data('tab');
			$('.mp-list-group li').removeClass('mp-active');
			$(this).addClass('mp-active');
			$('.mp-tab-content').removeClass('mp-tab-active');
			$(tab).addClass('mp-tab-active');
			if (tab == '#tab-collection') {
				$('#category-menu').show();
			} else {
				$('#category-menu').hide();
			}
		});

		$.ajax({
			url: '{{ feedback }}',
			dataType: 'html',
			success: function(response) {
				$('#prev-reviews').html(response);
			}
		});

		$.ajax({
			url: '{{ product_feedback }}',
			dataType: 'html',
			success: function(response) {
				let html = '<p class="wk-mp-tab-content-text">{{ text_product_reviews ~ " ("  ~ (product_feedback_total ? product_feedback_total : "0") ~ ")" }}</p>' + response;

				$('#tab-product-reviews').html(html);
			}
		});

		loadCollection(false);

	})(jQuery)

	
	{% if showCollection %}
		$('a[href="#tab-collection"]').trigger('click');
	{% endif %}

	
	{# $(document).find('.mp-list-group#category-menu li').on('click', function() {	
		
		collectionUrl = $(this).children('a').data('collection-url');
		$('#category-menu li').removeClass('mp-active');
		$(this).addClass('mp-active');
		loadCollection(true);
	}); #}

	{% if logged %}
	$('#send-mail').on('click', function() {
		f = 0;
		$('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function() {
			if ($(this).val() == '') {
				$(this).parent().addClass('has-error');
				f++;
			} else {
				$(this).parent().removeClass('has-error');
			}
		});

		if (f > 0) {
			$('#myModal-seller-mail .error').addClass('text-danger');
			$('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
		} else {
			$('#send-mail').addClass('disabled');
			$('#myModal-seller-mail').addClass('mail-procss');
			$('.alert-success').remove();
			$('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success success" style="width:95%;"><i class="fa fa-check-circle"></i>  {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			$.ajax({
				url: '{{ send_mail }}',
				data: $('#seller-mail-form').serialize() + '{{ mail_for }}',
				type: 'post',
				dataType: 'json',
				complete: function() {
					$('#send-mail').removeClass('disabled');
					$('#myModal-seller-mail input,#myModal-seller-mail textarea').each(
						function() {
							if (this.type != 'hidden') {
								$(this).val('');
								$(this).text('');
							}
						});
				}
			});
		}
	});
	{% endif %}
</script>
<script type="text/javascript">
	$.ajax({
		url: '{{ loadLocation }}',
		dataType: 'html',
		success: function(response) {
			$('#tab-location').html(response);
		}
	});

	localocation = false;
	$('#main-tab li').on('click', function() {
			if (!localocation) {
				$.ajax({
					url: '{{ loadLocation }}',
					dataType: 'html',
					success: function(response) {
						$('#tab-location').html(response);
					}
				});
				localocation = true;
			}
		})

		/**
   		* [To store feedback]
		* @return {none} [It will not return anything just reflect the form if unsuccessful and empty the form if successful]
		*/
	$('#button-review').on('click', function() {
		$.ajax({
			url: '{{ writeFeedback }}',
			type: 'post',
			dataType: 'json',
			data: $('#seller_review_form input[type=\'text\'],input[type=\'radio\']:checked,textarea'),

			beforeSend: function() {
				$('#button-feedback').button('loading');
			},
			complete: function() {
				$('#button-feedback').button('reset');
			},
			success: function(json) {
				$('.alert-success, .alert-danger').remove();

				if (json['error']) {
					$('#review-modal').before(
						'<div class="alert alert-danger warning" style="width:95%;"><i class="fa fa-exclamation-circle"></i> ' +
						json['error'] +
						'<button class="close" type="button" data-dismiss="alert" >&times;</button></div>'
						);
				}
				if (json['success']) {
					$('.alert-success').remove();
					$('#review-modal').prepend(
						'<div class="alert alert-success success" style="width:95%;"><i class="fa fa-check-circle"></i> ' +
						json['success'] + '</div>');
					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					$('input[name=\'price_rating\']:checked').prop('checked', false);
					$('input[name=\'quality_rating\']:checked').prop('checked', false);
					$('input[name=\'value_rating\']:checked').prop('checked', false);
				}
			}
		});
	});
</script>
<script>
	// Product List
	$('body').on('click', '#list-view', function() {
		$('#content .product-layout > .clearfix').remove();

		$('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');

		localStorage.setItem('display', 'list');
	});

	// Product Grid
	$('body').on('click', '#grid-view', function() {
		$('#content .product-layout > .clearfix').remove();

		// What a shame bootstrap does not take into account dynamically loaded columns
		cols = $('#column-right, #column-left').length;

		if (cols == 2) {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-6 col-md-6 col-sm-12 col-xs-12');

			// $('#content .product-layout:nth-child(2)').after('<div class="clearfix visible-md visible-sm"></div>');
		} else if (cols == 1) {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

			// $('#content .product-layout:nth-child(3)').after('<div class="clearfix visible-lg"></div>');
		} else {
			$('#content .product-layout').attr('class',
				'product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12');

			// $('#content .product-layout:nth-child(3)').after('<div class="clearfix"></div>');
		}

		localStorage.setItem('display', 'grid');
	});

	if (localStorage.getItem('display') == 'list') {
		$('#list-view').trigger('click');
	} else {
		$('#grid-view').trigger('click');
	}


$('body').on('change', '#seller-collection select',function() {
  collectionUrl = this.value;
  loadCollection(true);
  // $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  // $('#tab-collection').load(thisvalue,function(){
  //     $('.remove-me').remove();
  //   });
});

//   Module Update Code Start;

var waitTimer = 2000;
$('body').on('keyup', '#seller-collection input',function() {
   let el_val = this.value;
   console.log(el_val);
   setTimeout(function () {
      loadCollectionProduct(true,'product_name= '+el_val);
    }, waitTimer);
});

//   Module Update Code Ends;

$('body').on('click','#seller-collection a',function(e){
  if(!$(this).hasClass('default-work'))
    e.preventDefault();
  else
    return;

  thisvalue = this.href;
  $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
  $('#tab-collection').load(thisvalue,function(){
      $('.remove-me').remove();
      if (localStorage.getItem('display') == 'list') {
        $('#list-view').trigger('click');
      } else {
        $('#grid-view').trigger('click');
      }
    });
});

	{# $('body').on('change', '#seller-collection select', function() {
		loadCollection(true);
	}); #}

	/*$('body').on('click', '#seller-collection .pagination a', function(e) {
	    if (!$(this).hasClass('default-work'))
	       e.preventDefault();
	     else
	       return;

	     thisvalue = this.href;
	    $('a[href=\'#tab-collection\']').append(' <i class="fa fa-spinner fa-spin remove-me"></i>');
	    $('#tab-collection').load(thisvalue, function() {
	       $('.remove-me').remove();
	       if (localStorage.getItem('display') == 'list') {
	       $('#list-view').trigger('click');
	       } else {
	         $('#grid-view').trigger('click');
	       }
	     });
	   });*/
	function loadCollection_collection(showMenu, collectionUrl) {


		$.ajax({
			url: collectionUrl,
			dataType: 'html',
			success: function(response) {
				categoryMenu = $(response).find('#column-left').html();
				$('#category-menu').remove();
				$('.left-panel').append(categoryMenu);
				
				let html = '<p class="wk-mp-tab-content-text">{{ text_collection ~ " (" ~ (collection_total ? collection_total : "0") ~ ")" }}</p>' + response;

				$('#tab-collection').html(html);
				if (showMenu) {
					$('#category-menu').show();
				}
				if (localStorage.getItem('display') == 'list') {
					$('#list-view').trigger('click');
				} else {
					$('#grid-view').trigger('click');
				}

				if ($('#category-menu li').hasClass('hide-child')) {
					if (localStorage.getItem("hide-child") == 1) {
						$('.hide-child').css('display', 'none');
						localStorage.setItem('hide-child', 0);
					} else {
						localStorage.setItem('hide-child', 1);
					}
				}
			}
		})
	}
	$('body').on('click', 'div.stepper .fa-angle-up', function(e) {
		var val_input = parseInt(parseInt($(this).parent().parent().find('input[name="quantity"]').val()) + 1);
		$(this).parent().parent().find('input[name="quantity"]').val(val_input);

	});
	$('body').on('click', 'div.stepper .fa-angle-down', function(e) {
		if ($(this).parent().parent().find('input[name="quantity"]').val() > 1) {
			var val_input = $(this).parent().parent().find('input[name="quantity"]').val() - 1;
			$(this).parent().parent().find('input[name="quantity"]').val(val_input);
		}
	});

	

  // Grid / List toggle
	$(document).on('click', '.grid-list .view-btn', function () {
		const $this = $(this);
		const $products = $('.main-products');
		const view = $this.data('view');
		const current = $products.hasClass('product-grid') ? 'grid' : 'list';

		$this.tooltip('hide');

		if (view !== current) {
			$products.addClass('no-transitions').removeClass('product-' + current).addClass('product-' + view);

			setTimeout(function () {
				$products.removeClass('no-transitions');
			}, 1);

			const d = new Date;
			d.setTime(d.getTime() + 24 * 60 * 60 * 1000 * 365);

			if (view === 'list') {
				document.cookie = 'view=list;path=/;expires=' + d.toGMTString();
			} else {
				document.cookie = 'view=grid;path=/;expires=' + d.toGMTString();
			}
		}

		$('.grid-list .view-btn').removeClass('active');
		$this.addClass('active');
	});

</script>