
{{ header }}{{ separate_column_left }}
{% if (separate_view is defined and separate_view) %}
  <div class="container-fluid" id="content">

{% else %}
  <div class="container">
{% endif %}

  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    {% if (error_warning) %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}</div>
    {% endif %}

    {% if (chkIsPartner) %}
    <div id="content" class="{{ class }}">
    {{ content_top }}
        <h1 style="margin-top:10px;">{{ heading_title }}</h1>

        <fieldset>
            <legend><i class="fa fa-list"></i> {{ heading_title }}</legend>
      {% if (isMember) %}
      <div class="well">
        <div class="row">         
          
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ text_customer }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ text_customer }}" id="input-name" class="form-control" />              
            </div>
          </div>

          {# <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-order">{{ text_phone }}</label>
              <input type="text" name="filter_phone" value="{{ filter_phone }}" placeholder="{{ text_phone }}" id="input-order" class="form-control" />
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="input-order">{{ text_email }}</label>
              <input type="text" name="filter_email" value="{{ filter_email }}" placeholder="{{ text_email }}" id="input-order" class="form-control" />
            </div>
              <a onclick="filter();" class="btn btn-primary">{{ button_filter }}</a>
              <a onclick="refilter();" class="btn btn-default"> <i class="fa fa-refresh"></i> </a>
          </div> #}


        </div>
      </div>

      <div class="table-responsive table-scroll">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td width="5%" class="text-center">
                {% if (sort == 'c.customer_id') %}
                <a href="{{ sort_customer_id }}" class="{{ order|lower }}">{{ text_orderid }}</a>
                {% else %}
                <a href="{{ sort_customer_id }}">{{ text_orderid }}</a>
                {% endif %}
              </td>
              <td width="20%" class="text-center">
                {% if (sort == 'c.firstname') %}
                <a href="{{ sort_firstname }}" class="{{ order|lower }}">{{ text_customer }}</a>
                {% else %}
                <a href="{{ sort_firstname }}">{{ text_customer }}</a>
                {% endif %}
              </td>
              {# <td width="15%" class="text-center">{{ text_phone }}</td>
              <td width="15%" class="text-center">{{ text_email }}</td>               #}
              {# <td width="15%" class="text-center">{{ text_purchase }}</td>               #}
              <td width="15%" class="text-center">{% if (sort == 'o.date_added') %}
                <a href="{{ sort_date }}" class="{{ order|lower }}" >{{ text_added_date }}</a>
                {% else %}
                <a href="{{ sort_date }}">{{ text_added_date }}</a>
                {% endif %}
              </td>              
            </tr>
          </thead>
          <tbody>
            {% if (customers) %}
         	    {% for customer in customers %}
        		<tr>
        		    <td class="text-center">{{ customer.customer_id }}</td>
                    <td class="text-center">{{ customer.name }}</td>
                    {# <td class="text-center"><a href="tel:{{ customer.telephone }}">{{ customer.telephone }}</a></td>
                    <td class="text-center"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td> #}
                    {# <td class="text-center">{{ customer.total }}</td> #}
                    <td class="text-center">{{ customer.date_added }}</td>                    
        		</tr>
              {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="10">{{ text_no_results }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row" style="margin-top:10px;">
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 text-left">{{ pagination }}</div>
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 text-right">{{ results }}</div>
      </div>
      {% else %}
        <div class="text-danger">
          {{ error_warning_authenticate }}
        </div>
      {% endif %}
    </fieldset>
    {{ content_bottom }}
    </div>
    {% else %}
 {{ "<h2 class='text-danger'> For Become Seller inform Admin </h2>" }}
 {% endif %}
    {{ column_right }}
  </div>
</div>

<script type="text/javascript">

function refilter(){
  location = '{{ current }}';
}

function filter() {
  url = '{{ current }}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_phone = $('input[name=\'filter_phone\']').val();

  if (filter_phone) {
    url += '&filter_phone=' + encodeURIComponent(filter_phone);
  }

  var filter_email = $('input[name=\'filter_email\']').val();

  if (filter_email) {
    url += '&filter_email=' + encodeURIComponent(filter_email);
  }

  location = url;
}
//--></script>
<script type="text/javascript"><!--
$('fieldset input').keydown(function(e) {
  if (e.keyCode == 13) {
    filter();
  }
});

//--></script>
{{ footer }}

<script>
var secondtag = document.querySelectorAll('.module-title')[2];
secondtag.setAttribute("style", "position: relative; right: 40px;");

</script>