{{ header }}{{ separate_column_left }}

{% if separate_view is defined and separate_view %}
<div class="container-fluid" id="content">

  {% else %}
  <div class="container">
    {% endif %}


    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li>
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
      {% set class = 'col-sm-9' %}
      {% else %}
      {% set class = 'col-sm-12' %}
      {% endif %}

      <div id="content" class="{{ class}}">
        {{ content_top}}
        <h1 style="margin-top:10px;">{{ heading_title}}
            
        </h1>
        <fieldset>
          <legend>            
          </legend>
          {% if isMember %}

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                
                {% if sales %}                  
                <tbody>
                  <tr>
                    <td style="color:#000; font-weight:bold;" class="text-center"><a href="{{sale}}">{{ entry_total }}</a></td>
                    <td style="color:#69b572; font-weight:bold;" class="text-center">{{ sales.total }}</td>
                   </tr>
                   <tr>
                    <td style="color:#000; font-weight:bold;" class="text-center"><a href="{{sale}}">{{ entry_seller }}</a></td>
                    <td style="color:#22ade2; font-weight:bold;" class="text-center">{{ sales.seller }}</td>
                    </tr>
                    <tr>
                    <td style="color:#000; font-weight:bold;" class="text-center"><a href="{{sale}}">{{ entry_admin }}</a></td>
                    <td style="color:#f37587;" class="text-center">{{ '- '~sales.admin }}</td>
                    </tr>
                    <tr>
                    <td style="color:#000; font-weight:bold;" class="text-center"><a href="{{paid_link}}">{{ entry_paid }}</a></td>
                    <td style="color:#9C27B0;" class="text-center">{{ sales.paid }}</td>
                    </tr>

                    <tr>
                    <td style="color:#000; font-weight:bold;" class="text-center">{{ entry_unpaid }}</td>
                    <td style="color:#FF9800;font-weight:bold;" class="text-center">{{ sales.unpaid }}</td>
                    </tr>
                    
                  </tr>  
                </tbody>  
                {% else %}               
                <tfoot>
                  <tr>
                    <td class="text-center" colspan="2">{{ text_no_records }}</td>
                  </tr>
                </tfoot>
                {% endif %}                
              </table>
            </div>
          
          {% else %}
          <div class="text-danger">
            {{ error_warning_authenticate}}
          </div>
          {% endif %}
        </fieldset>
        {{ content_bottom}}
      </div>
      {{ column_right}}
    </div>
  </div>
    {{ footer}}

  <script>
    var secondtag = document.querySelectorAll('.module-title')[2];
    secondtag.setAttribute("style", "position: relative; right: 40px;");
</script>