{{ header }}
<style>
.width-100{width:100%!important}.sell-name-up{font-weight:700}.sell-name-up:hover,.text-white{color:#fff!important}.bg-seller-info{background-color:#004e73!important}.pl-10{padding-left:10px!important}.caption .vendor-div{text-align:center;display:block;background:#fff}a.text-dark{color:#6a6a6a;text-decoration:none}.caption .vendor-div:not(.first){font-size:12px;padding:0}.category-layout .product-thumb{background:#fff;border:1px solid #dde;padding:5px}.category-layout{padding:15px}.category-layout .product-thumb .caption{padding:10px 20px;min-height:105px} 
.wk-mp-text-hide {
    font-size: 14px;
    text-overflow: ellipsis;
    line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 2px;
}
</style>
<div class="container">
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="text-center">
        <h1 class="text-info">{{ sell_header }}</h1>
        <a href="index.php?route=account/register" type="button" class="btn btn-primary btn-lg">
          {{ sell_title }}
        </a>
      </div>
      <br/>
      {% if (tabs) %}
      <ul class="nav nav-tabs">
        {% for key,value in tabs %}
            <li {% if (not key) %}class="active"{% endif %}><a href="{{ "#tab-"~key }}" data-toggle="tab">{{ value['hrefValue'] }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for key,value in tabs %}
          <div id="{{ "tab-"~key }}" class="tab-pane {% if (not key) %}active{% endif %}">{{ value['description'] }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <br/>
      
      
      
      {% if (showpartners) %}

        <div class="title-wrapper">
            <h3 class="title module-title">{{ text_long_time_seller}}</h3>		
        </div>
            {% for partner in partners %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="product-thumb" {% if not partner['thumb'] %} style="background-color:{{ partner['backgroundcolor'] ?? '#004d73'}}; width:220px; height:220px;" {% endif %}>
                <div class="image-group">
                  <div class="image">
                    <a href="{{ partner['sellerHref']}}" class="product-img " title="">
                      {% if partner['thumb'] %}
                        <div>
                          <img src="{{ partner['thumb']}}" data-src="{{ partner['thumb']}}" width="250" height="250" alt="{{ partner['name']}}" class="img-responsive img-first lazyload lazyloaded" data-loaded="true">
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>

                <div class="caption" {% if partner['country'] %} style="min-height: 120px;" {% else %} style="min-height: 100px;" {% endif %}>
                  <div class="vendor-div first" {% if partner['country'] %} style="margin-top:-5px" ; {% else %} style="margin-top:14px" ; {% endif %}>
                    <a href="{{ partner['sellerHref']}}" class="wk-mp-text-hide" title="{{ partner['name']}}" >{{ partner['name']}}</a>
                  </div>
                  <div class="vendor-div secnd" {% if not partner['country'] %} style="padding: 0 0 10px 0;" {% endif %}>
                  {% if partner['country'] %}
                    <p class="">{{ text_location_mp }}
                      <b class="font-weight-bold">{{ partner['companylocality'] ? partner['companylocality']~', ' : ''}}
                        {{ partner['country']}}</b>
                    </p>
                  {% endif %}
                  </div>
                  <div class="vendor-div third">
                    {% if partner.feedback_total %}
                      <div class="rating {% if (journal3.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
                        <div class="rating-stars">
                          {% for i in 1..5 %}
                            {% if partner.feedback_total < i %}
                              <span class="fa fa-stack">
                                <em class="fa fa-star-o fa-stack-2x"></em>
                              </span>
                            {% else %}
                              <span class="fa fa-stack">
                                <em class="fa fa-star fa-stack-2x"></em>
                                <em class="fa fa-star-o fa-stack-2x"></em>
                              </span>
                            {% endif %}
                          {% endfor %}
                          <span>
                            {% if partner.feedback_count %}
                              {{ partner.feedback_total }}
                              {{ '( '~partner.feedback_count~text_review~' )'}}
                            {% else %}
                              {{ text_no_review }}
                            {% endif %}
                          </span>
                        </div>
                      </div>
                    {% else %}
                      <div class="rating no-rating {% if (journal3.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
                        <div class="rating-stars">
                          {% for i in 1..5 %}
                            {% if partner.feedback_total < i %}
                              <span class="fa fa-stack">
                                <em class="fa fa-star-o fa-stack-2x"></em>
                              </span>
                            {% else %}
                              <span class="fa fa-stack">
                                <em class="fa fa-star fa-stack-2x"></em>
                                <em class="fa fa-star-o fa-stack-2x"></em>
                              </span>
                            {% endif %}
                          {% endfor %}
                          <span>
                            {% if partner.feedback_count %}
                              {{ partner.feedback_total }}
                              {{ '( '~partner.feedback_count~text_review~' )'}}
                            {% else %}
                              {{ text_no_review }}
                            {% endif %}
                          </span>
                        </div>
                      </div>
                    {% endif %}

                  </div>
                  <div class="vendor-div fourth">
                    <a
                      class="text-dark" href="{{ partner['sellerHref']}}" title="{{ text_total_products}}">
                      {# <span class="btn-text sell-name-up">{{ text_total_products}}{{ partner['total_products']}}</span> #}
                      <span class="btn-text text-dark">{{ partner['total_products']}}
                        {{ text_products }}</span>
                    </a>
                  </div>


                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
        <script type="text/javascript">
          $('#carousel_wk_mp').swiper({
            mode: 'horizontal',
            slidesPerView: 4,
            breakpoints: {
              // when window width is >= 320px
              320: {
                slidesPerView: 1,
                // spaceBetween: 20
              },
              // when window width is >= 380px
              380: {
                slidesPerView: 1,
                // spaceBetween: 30
              },
              // when window width is >= 480px
              480: {
                slidesPerView: 2,
                // spaceBetween: 30
              },
              // when window width is >= 640px
              640: {
                slidesPerView: 3,
                // spaceBetween: 40
              }
            },
            pagination: '.carousel_wk_mp',
            paginationClickable: true,
            nextButton: '.carousel .swiper-button-next',
            prevButton: '.carousel .swiper-button-prev',
            // autoplay: 2500,
            // loop: true
          });
        </script>
      {% endif %}


      {% if (showproducts) %}
      <h3><b>{{ text_latest_product }}</b></h3>
      <div class="row">
        <div class="col-sm-2 hidden-xs">
          <div class="btn-group">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        {# <div class="col-sm-1 ">
          <label class="control-label" for="input-limit">{{ text_limit }}</label>
        </div> #}
        {# <div class="col-sm-2">
          <select id="input-seller" class="form-control">
              <option value="seller" selected="selected">{{ 'seller 1' }}</option>
          </select>
        </div> #}
        <div class="col-sm-2 col-sm-offset-2 text-right">
          <label class="control-label" for="input-sort">{{ text_sort }}</label>
        </div>
        <div class="col-sm-4 text-right">
          <select id="input-sort" class="form-control col-sm-3" onchange="location = this.value;">
            {% for sorts in sorts %}
            {% if (sorts['value'] == sort ~ '-' ~ order) %}
            <option value="{{ sorts['href'] }}" selected="selected">{{ sorts['text'] }}</option>
            {% else %}
            <option value="{{ sorts['href'] }}">{{ sorts['text'] }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-1 text-right">
          <label class="control-label" for="input-limit">{{ text_limit }}</label>
        </div>
        <div class="col-sm-1 text-right">
          <select id="input-limit" class="form-control" onchange="location = this.value;">
            {% for limits in limits %}
            {% if (limits['value'] == limit) %}
            <option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
            {% else %}
            <option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        {% for product in latest %}
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="product-thumb seller-thumb" id="{{ product['product_id'] }}">
            <div class="image"><a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" /></a></div>
            <div style="position: relative;">
              <div class="caption">
                <h4><a href="{{ product['href'] }}">{{ product['name'] }}</a></h4>
                <p>{{ product['description'] }}</p>               
                {% if (product['price']) %}
                <p class="price">
                  {% if (not product['special']) %}
                  {{ product['price'] }}
                  {% else %}
                  <span class="price-new">{{ product['special'] }}</span> <span class="price-old">{{ product['price'] }}</span>
                  {% endif %}
                  {% if (product['tax']) %}
                  <span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
                  {% endif %}
                </p>
                {% endif %}
                 {% if (product['rating']) %}
                <div class="rating">
                  {% set i = 1 %}{% for i in i..5 %}
                  {% if (product['rating'] < i) %}
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% else %}
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
              {% if (showpartnerdetails is defined and showpartnerdetails) %}
              <div id="wk_seller_info_container" class="wk_seller_info">
                <div style="padding: 10px;background-color: #f8f8f8;border-top: 8px solid orange;">
                  <div id="wk_seller_info_profpic">
                    <img src="{{ product['avatar'] }}" width="100%" height="100%" style="vertical-align:baseline;">
                  </div>
                  <div id="wk_seller_info_box">
                    <h4 style="margin-bottom: 15px;margin-top: 0px;font-size: 13px;"><b>{{ text_seller }}</b></h4>
                    <a href="{{ product['sellerHref'] }}"><p style="margin:0; line-height: 15px;"><b>{{ product['seller_name'] }}</b></p></a>
                    {% if (product['country']) %}
                    <p style="max-width:135px;line-height:14px;">{{ text_from }}
                        <span data-toggle="tooltip" title="{{ text_from }}"><i class="fa fa-home"></i></span>
                        <b>{{ product['country'] }}</b>
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="button-group">
                <button type="button" onclick="cart.add('{{ product['product_id'] }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><i class="fa fa-exchange"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
var seller_display = function (data){
  thisid = data.currentTarget.id; //get id of current selector
  $('#'+ thisid + ' .wk_seller_info').slideDown();
  $('#'+ thisid).unbind('mouseenter');
}
var seller_hide = function (data){
  thisid = data.currentTarget.id; //get id of current selector
  $('#'+ thisid + ' .wk_seller_info').slideUp('slow',function(){
    $('.seller-thumb').bind('mouseenter',seller_display);
  });
}

$('.seller-thumb').bind({'mouseenter' : seller_display,'mouseleave':seller_hide });

</script>
{{ footer }}
