<style>
</style>
<div class="box">
	{% if chkIsPartner is defined %}
		<div class="list-group">
			{% if chkIsPartner %}
				{% if marketplace_account_menu_sequence is defined and marketplace_seller_mode is defined and marketplace_seller_mode %}
						{% for key, menu_option in marketplace_account_menu_sequence %}
							{% if marketplace_allowed_account_menu is defined and marketplace_allowed_account_menu and key in marketplace_allowed_account_menu %}
								{% if key == 'asktoadmin' %}
									<a id="ask-to-admin" class="list-group-item"  data-toggle="modal" data-target="#myModal-seller-mail">
										{{ menu_option}}
									</a>
								{% else %}
									{% if account_menu_href[key] is defined and account_menu_href[key] %}
										<a href="{{ account_menu_href[key]}}" class="list-group-item">
											{{ menu_option}}
										</a>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
			{% else %}
				{% if hasApplied is defined and hasApplied %}
					<a href="{{ want_partner }}" class="list-group-item">{{ text_becomePartner }}</a>
				{% else %}
					<a href="{{ want_partner}}" class="list-group-item">{{ text_becomePartner}}</a>
				{% endif %}
			{% endif %}
		</div>
	{% elseif partner is defined %}
		{% set addClass = 'col-lg-3 col-md-3 col-sm-6' %}
		<style>
			{# @media(min-width:901px) {
				aside#column-right.side-column {
					height: 0px !important;
				} 
			} #}
		</style>
		<div class="row">

			<div class="product-layout product-grid col-xs-12">
				<div class="product-thumb product-wrapper">
					<div class="wk-new">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="image">
								{% if (partner['thumb'] is defined and partner['thumb']) %}
									<img src="{{ partner['thumb'] }}" alt="{{ partner['firstname'] }}" class="image-seller zoom" style="height:100px;object-fit:content;">
								{% endif %}
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="upper-detail">
								<div class="wk-right wk-title">
									<p style="overflow-wrap:break-word;">
										{% if partner['companyname'] is defined and partner['companyname']  %}
											{% set full_name = partner['companyname'] %}
											{{ partner['companyname'] }}
										{% else %}
											{% set full_name = partner['firstname']~" "~partner['lastname'] %}
											{{ partner['firstname']~" "~partner['lastname'] }}
										{% endif %}
									</p>
								</div>
								<div class="wk-right wk-link" {% if full_name|length < 12 %} style="margin-top:10px; margin-bottom:10px;" {% endif %}>
									<a href="{{partner.sellerHref}}">{{ 'View Store' }}</a>
								</div>

								<div class="wk-right wk-product-count">
									<p>{{ partner.total_products ~' Product(s)'}}</p>
								</div>
							</div>

						</div>
					</div>
					
					<div class="min-contact" style="text-align: start;">
						<div class="card-div seller-rating">
							<div class="card-div-first">{{'Store rating: '}}</div>
							<div class="card-div-scnd {% if feedback_total %}rating{% else %}rating no-rating{% endif %} {% if (j3.settings.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
								{% set giveReview = 0 %}
								{% if (customer_id != seller_id) %}								
									{% if (logged) %}
										{% if (give_review) %}
											{% set giveReview = 0 + 1 %}
										{% endif %}									
									{% endif %}
								{% endif %}

								{% if feedback_total %}
									<div class="rating-stars {% if giveReview %}review-button-popup {% endif %}">
										{% for i in 1..5 %}
											{% if feedback_total < i %}
												<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
											{% else %}
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
											{% endif %}
										{% endfor %}
										<span style="color:#E69500; font-size:14px; font-weight:600;" id="rating-text">&nbsp;{{ feedback_total }}</span>
									</div>									
								{% else %}								
									<div class="rating-stars {% if giveReview %}review-button-popup {% endif %}">
										{% for i in 1..5 %}
											{% if feedback_total < i %}
												<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
											{% else %}
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
											{% endif %}
										{% endfor %}

										<span style="color:#E69500; font-size:14px; font-weight:600;" id="rating-text">&nbsp;{{ feedback_total }}</span>
									</div>									
								{% endif %}								
								
							</div>
						</div>
					</div>
					<div class="min-contact" style="text-align: start;">						
						{% if partner['telephone'] and telephone %}
							<div class="card-div seller-mobile">
								<div class="card-div-first"><span></span></div>
								<div class="card-div-scnd">									
									<a href="tel:{{ partner['telephone'] }}">{{ partner['telephone'] }}</a>									
								</div>
							</div>
						{% endif %}

						{% if partner['email'] and email %}
							<div class="card-div seller-email">
								<div class="card-div-first"><span></span></div>
								<div class="card-div-scnd">									
									<a href="mailto:{{ partner['email'] }}">
										<span>{{ partner['email']}}</span>
									</a>									
								</div>
							</div>
						{% endif %}

						{% if partner['companylocality'] %}
							<div class="card-div seller-location">
								<div class="card-div-first"><span></span></div>
								<div class="card-div-scnd">
									<a href="https://www.google.com/maps/place/{{ partner['companylocality'] }}" target="_blank">
										<span>{{ partner['companylocality'] }}</span>
									</a>
								</div>
							</div>
						{% endif %}

						{% if (achivment['filepath'] is defined and achivment['filepath']) %}
							<div class="card-div seller-achivment">
								<div class="card-div-first"><span></span></div>
								<div class="card-div-scnd" style="text-align: end;display: flex;align-items: center; justify-content: space-between;gap:5px;">
									<span class="achivment-span-file">{{achivment.basename}}</span>
									<a href="{{ achivment['filepath'] }}" target="_blank" class="wk-btn btn btn-sm btn-info">
										<i class="fa fa-eye"></i>									
									</a>
								</div>
							</div>
						{% endif %}

						{% if (marketplace_customercontactseller) %}
							<div class="card-div">								
								<div class="card-div-scnd connect-icons">
									{% if (partner['facebookid'] is defined and partner['facebookid']) %}
									<span>
											<a href="http://facebook.com/{{ partner['facebookid'] }}">
												<i class="fa fa-facebook-square zoom" style="color:#395185"></i>
											</a>
									</span>
									{% endif %}

										{% if (partner['twitterid'] is defined and partner['twitterid']) %}
									<span>
											<a href="http://twitter.com/{{ partner['twitterid'] }}">
												<i class="fa fa-twitter zoom" style="color:#55ACEE"></i>
											</a>
									</span>
										{% endif %}

										{% if(partner['linkedId'] is defined and partner['linkedId']) %}
									<span>
											<a href="https://{{ partner['linkedId'] }}">
												<i class="fa fa-linkedin-square zoom" style="color:#398185"></i>
											</a>
									</span>
										{% endif %}

										{% if(partner['instagram'] is defined and partner['instagram']) %}
									<span>
											<a href="https://www.instagram.com/{{ partner['instagram'] }}">
												<i class="fa fa-instagram zoom" aria-hidden="true" style="color:#CD929B"></i>

											</a>
									</span>
										{% endif %}

										{% if(partner['youtube'] is defined and partner['youtube']) %}
									<span>
											<a href="https://www.youtube.com/c/{{ partner['youtube'] }}">
												<i class="fa fa-youtube-play zoom" aria-hidden="true" style="color:#FF0000"></i>
											</a>
									</span>
										{% endif %}

										{% if(logged)  %}
									<span>
											<a data-target="#myModal-seller-mail">
												<i class="fa fa-envelope-o zoom"></i>
											</a>
											</span>
										{% else %}
									<span>
										<a href="{{ login }}" data-toggle="tooltip-hover" data-original-title="{{ text_login_contact }}">
											<i class="fa fa-envelope zoom"></i>
										</a>
									</span>
										{% endif %}
								</div>
								<!-- connect-icons -->
							</div>
						{% endif %}

						<div id="tab-location" class="card-div"></div>

					</div>
				</div>
			</div>
		
			<script>
				$(document).ready(function () {
					$.ajax({
						url: '{{ loadLocation }}',
						dataType: 'html',
						success: function (response) {
							$('#tab-location').html(response);
						}
					});
				});
			</script>
		</div>
	{% endif %}
</div>

<div class="modal fade" id="myModal-seller-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="padding:12px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">{{ text_close }}</span>
				</button>
				<h3 class="modal-title">{{ text_write_review }}</h3>
			</div>
			<div class="modal-body" id="review-modal">
				<form class="form-horizontal" id="seller_review_form">
					<div class="form-group required">
						<div class="col-md-12">
							<label class="control-label" for="input-name">{{ text_nickname }}</label>
							<input type="text" name="name" value="" id="input-name" class="form-control" />						
						</div>
					</div>
					<div class="form-group required">	
						<div class="col-md-12">
							<label class="control-label" for="input-review">{{ text_review }}</label>
							<textarea name="text" rows="5" id="input-review"class="form-control"></textarea>
							<div class="help-block pull-right">
								{{ text_note }}
							</div>
						</div>
					</div>
					{% if review_fields is defined and review_fields %}
					{% for review_field in review_fields %}
						<div class="form-group required">
							<div class="col-md-12">
								<div class="col-sm-3">
									<label class="control-label">{{ review_field['field_name'] }}</label>
								</div>
								<div style="display: inline-block;">
								&nbsp;&nbsp;&nbsp;{{ entry_bad }}&nbsp;
								{% for i in 1..5 %}
								<input type="radio" id="review_attributes[{{ review_field['field_id']}}]"
									name="review_attributes[{{ review_field['field_id']}}]" value="{{ i}}" />
								{% endfor %}
								&nbsp;{{ entry_good }}
								</div>
							</div>
						</div>
					{% endfor %}
					{% endif %}
				</form>
			</div>
			<button type="button" class="wk-btn btn btn-default" data-dismiss="modal">{{ text_close }}</button>
			<button type="button" id="button-review-mp" data-loading-text="{{ text_loading }}"
				class="wk-btn btn btn-primary">{{ text_send }}</button>
		</div>
	</div>
	<!-- /.modal-content -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal-notification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">{{ text_close}}</span>
				</button>
				<h3 class="modal-title">{{ 'Hi ' }}
					{%if sellerProfile['firstname'] is defined %}
						{{ sellerProfile['firstname'] }}
					{%endif %}
					{% if sellerProfile['lastname'] is defined %}
						{{ sellerProfile['lastname'] }}
					{%endif %}
				</h3>
			</div>

			<div class="modal-body">
				{% if seller_notifications is defined and seller_notifications %}
					<div class="form-group">
						<ul style="display:inline-flex;margin-left:-8%;">
							<li class="dropdown-header" style="font-size:15px;">
								<b>{{ text_order}}</b>
							</li>
							<li style="display: block; overflow: auto;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-warning" style="margin-right: 5px;">{{ processing_status_total}}</span>
									{{ text_processing_status}}</a>
							</li>
							<li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-success" style="margin-right: 5px;">{{ complete_status_total}}</span>
									{{ text_complete_status}}</a>
							</li>
							<li style="display: block; overflow: auto;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-danger" style="margin-right: 5px;">{{ return_total}}</span>
									{{ text_return}}</a>
							</li>
						</ul>
						{% if seller_notifications is defined and seller_notifications %}
							<ul>
								{% for seller_notification in seller_notifications %}
									<li>{{ seller_notification}}</li>
								{% endfor %}
								<li style="display: block; overflow: auto;">
									<a href="{{ view_all}}">{{ text_view_all}}</a>
								</li>
							</ul>
						{% endif %}
					</div>
					<hr/>
				{% endif %}
				{% if seller_product_reviews is defined and seller_product_reviews %}
					<div class="form-group">
						<ul style="display:inline-flex;margin-left:-8%;">
							<li class="dropdown-header" style="font-size:15px;">
								<b>{{ text_product}}</b>
							</li>
							<li style="display: block; overflow: auto;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-warning" style="margin-right: 5px;">{{ product_stock_total}}</span>
									{{ text_stock}}</a>
							</li>
							<li style="display: block; overflow: auto;margin-left:40px;margin-right:40px;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-success" style="margin-right: 5px;">{{ review_total}}</span>
									{{ text_entry_review}}</a>
							</li>
							<li style="display: block; overflow: auto;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-danger" style="margin-right: 5px;">{{ approval_total}}</span>
									{{ text_approval}}</a>
							</li>
						</ul>
						{% if seller_product_reviews is defined and seller_product_reviews %}
							<ul>
								{% for seller_product_review in seller_product_reviews %}
									<li>{{ seller_product_review}}</li>
								{% endfor %}
								<li style="display: block; overflow: auto;">
									<a href="{{ view_all ~ '&tab=product' }}">{{ text_view_all}}</a>
								</li>
							</ul>
						{% endif %}
					</div>
					<hr/>
				{% endif %}
				{% if seller_reviews is defined and seller_reviews %}
					<div class="form-group">
						<ul style="display:inline-flex;margin-left:-8%;">
							<li class="dropdown-header" style="font-size:15px;">
								<b>{{ text_entry_seller}}</b>
							</li>
							<li style="display: block; overflow: auto;margin-right:40px;margin-top:5px;">
								<a href="{{ view_all}}">
									<span class="label label-success" style="margin-right: 5px;">{{ seller_review_total}}</span>
									{{ text_entry_review}}</a>
							</li>
						</ul>
						{% if seller_reviews is defined and seller_reviews %}
							<ul>
								{% for seller_review in seller_reviews %}
									<li>{{ seller_review}}</li>
								{% endfor %}
								<li style="display: block; overflow: auto;">
									<a href="{{ view_all ~ '&tab=seller'}}">{{ text_view_all}}</a>
								</li>
							</ul>
						{% endif %}
					</div>
				{% endif %}
				{% if (seller_notifications is not defined and seller_product_reviews is not defined and seller_reviews is not defined) or ( not seller_notifications and not seller_product_reviews and not seller_reviews ) %}
					<center>
						<h4>{{ text_no_notification}}</h4>
					</center>
				{% endif %}
			</div>

			<div class="modal-footer">
				<a href="{{ view_all}}" class="wk-btn btn btn-primary button" style="color:white;">{{ text_view_all_notificatins}}</a>
				<button type="button" class="wk-btn btn btn-default button" data-dismiss="modal">{{ text_close}}</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<style type="text/css">
	#myModal-notification li {
		font-family: monospace;
	}

	/*	.modal-dialog {
		width: 500px;
	}*/
	.sellerBackground {
		{% if sellerProfile['backgroundcolor'] is defined and sellerProfile['backgroundcolor'] %}
			background-color: {{sellerProfile['backgroundcolor']}}
			;
		{% else %}
			background-color: #FF4D45;
		{% endif %}
		height: 200px;
		text-align: center;
	}

	.seller_detail_stripe {
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2);
		height: 30px;
		margin-top: 5px;
		width: 100%;
	}

	.seller_detail_stripe p {
		color: #fff;
		font-size: 18px;
		line-height: 30px;
	}

	.seller-dp {
		height: 100px;
		margin-top: 35px;
	}
</style>

<div class="modal fade" id="myModal-seller-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" style="border-radius:0px">
			<div class="modal-body" style="padding-top:0px">
				{% if launchModal is defined and launchModal and sellerProfile is defined and sellerProfile %}
					<div class="row">
						<div class="col-sm-12 sellerBackground" style="">
							<div class="seller-dp">
								<img src="{{ sellerProfile['avatar']}}" alt="{{ sellerProfile['firstname'] ~ ' ' ~ sellerProfile['lastname']}}"/>
							</div>
							<div class="seller_detail_stripe" style="">
								<p>
									{{ text_welcome ~ sellerProfile['firstname'] ~ ' ' ~ sellerProfile['lastname']}}
								</p>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col-sm-12">
						{% if lowStockProducts['products'] is defined and lowStockProducts['products'] %}
							<fieldset>
								<lagend>
									<h3>{{ text_low_stock}}</h3>
								</lagend>
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="text-center">{{ text_productname}}</th>
												<th class="text-center">{{ text_model}}</th>
												<th class="text-center">{{ text_quantity}}</th>
											</tr>
										</thead>
										<tbody>
											{% for lowStockProduct in lowStockProducts['products'] %}
												<tr>
													<td class="text-center">
														{{ lowStockProduct['name']}}
													</td>
													<td class="text-center">
														{{ lowStockProduct['model']}}
													</td>
													<td class="text-center">
														{{ lowStockProduct['quantity']}}
													</td>
												</tr>
											{% endfor %}
											{% if totalProductsLowStock is defined and totalProductsLowStock > 5 %}
												<tr>
													<td colspan="3">
														<a href="{{ moreProductUrl}}" class="btn btn-info btn-block">
															more
														</a>
													</td>
												</tr>
											{% endif %}
										</tbody>
									</table>
								</div>
								<!-- table responsive -->
							</fieldset>
							<!-- low stock field set -->
						{% endif %}
						<fieldset>
							<lagend>
								<h3>{{ text_most_viewed}}</h3>
							</lagend>
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="text-center">{{ text_productname}}</th>
											<th class="text-center">{{ text_model}}</th>
											<th class="text-center">{{ text_views}}</th>
										</tr>
									</thead>
									<tbody>
										{% if mostViewedProducts is defined and mostViewedProducts %}
											{% for mostViewedProduct in mostViewedProducts %}
												<tr>
													<td class="text-center">
														{{ mostViewedProduct['name']}}
													</td>
													<td class="text-center">
														{{ mostViewedProduct['model']}}
													</td>
													<td class="text-center">
														{{ mostViewedProduct['viewed']}}
													</td>
												</tr>
											{% endfor %}
										{% else %}
											<tr>
												<td class="text-center" colspan="3">
													{{ text_more_work}}
												</td>
											</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</fieldset>
						<!-- view fieldset -->
					</div>
					<!-- col-sm-12 -->
				</div>
				<!-- row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-right">
							<button type="button" class="wk-btn btn btn-danger btn-sm" style="margin-top:10px;" data-dismiss="modal">
								{{ text_close}}
							</button>
						</div>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- modal-body -->
		</div>
		<!-- modal-content -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- modal -->
	{% if chkIsPartner is defined %}

	{%  elseif partner is not defined %}
	<script>
		$(document).ready(function () {
			$(document).find('aside#column-right .box').parent().css('display','none');
		});
	</script>
{% endif %}
<script>
	var launchModal = {{ launchModal ? launchModal : 0 }};
	$(document).ready(function () {

		$(document).on('click','a[data-target="#myModal-seller-mail"]',function(){
			$('#myModal-seller-mail').appendTo('body').modal();
			$('#myModal-seller-mail').modal('show');
		});

				
		// myModal-seller-mail
		// $('#myModal-seller-info').modal();
		if (launchModal && window.innerWidth > 767) {
			$('#myModal-seller-info').appendTo('body').modal();
		}
	});
	{% if partner is defined %}
		$(document).ready(function () {
			if ($('#content').hasClass('col-sm-12')) {
				$('.marketplace .row .product-seller').addClass('{{ addClass }}');
			}
		});
	{% endif %}

	{% if contact_mail and logged %}

		$(document).find('.wk-menu li a').each(function(i,v){
			if($(v).attr('id') == 'ask-to-admin menu-ask-to-admin') {
				$(v).on('click',function(){
					$('#myModal-seller-mail').appendTo('body').modal();
					$('#myModal-seller-mail').modal('show');
				});
			}
		});

		{# $(document).find('#ask-to-admin').on('click', function (event) {
			console.log('asdasdasd');
			$('#myModal-seller-mail').appendTo('body').modal();
			$('#myModal-seller-mail').modal('show');
		}); #}

		$('#send-mail').on('click', function () {
			f = 0;
			$('.alert').remove();
			$('#myModal-seller-mail input[type=\'text\'],#myModal-seller-mail textarea').each(function () {
				if ($(this).val().trim() == '') {
					$(this).parent().addClass('has-error');
					f ++;
				} else {
					$(this).parent().removeClass('has-error');
				}
			});

			if (f > 0) {
				$('#myModal-seller-mail .error').text('{{ text_error_mail }}').slideDown('slow').delay(2000).slideUp('slow');
			} else {
				$('#send-mail').addClass('disabled');
				$('#myModal-seller-mail').addClass('mail-procss');
				$('.alert-success').remove();
				$('#myModal-seller-mail .modal-body').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i>   {{ text_success_mail }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$.ajax({
					url: '{{ send_mail }}',
					data: $('#seller-mail-form').serialize() +'{{ mail_for }}',
					type: 'post',
					dataType: 'json',
					complete: function () {
						$('#send-mail').removeClass('disabled');
						$('#myModal-seller-mail input,#myModal-seller-mail textarea').each(function () {
							if (this.type != 'hidden') {
								$(this).val('');
								$(this).text('');
							}
						});
					}
				});
			}
		});
	{% endif %}

	$(document).find('.review-button-popup').on('click', function() {
		
		$('#myModal-seller-review').appendTo('body').modal();
		$(document).find('#myModal-seller-review').modal('show');
	});

	/**
   	* [To store feedback]
	* @return {none} [It will not return anything just reflect the form if unsuccessful and empty the form if successful]
	*/
	$(document).on('click','#button-review-mp', function() {
		$.ajax({
			url: '{{ writeFeedback }}',
			type: 'post',
			dataType: 'json',
			data: $('#seller_review_form input[type=\'text\'],input[type=\'radio\']:checked,textarea'),

			beforeSend: function() {
				$('#button-feedback').button('loading');
			},
			complete: function() {
				$('#button-feedback').button('reset');
			},
			success: function(json) {
				$('.alert-success, .alert-danger').remove();

				if (json['error']) {
					$('#review-modal').before(
						'<div class="alert alert-danger warning" style="width:95%;"><i class="fa fa-exclamation-circle"></i> ' +
						json['error'] +
						'<button class="close" type="button" data-dismiss="alert" >&times;</button></div>'
						);
				}
				if (json['success']) {
					$('.alert-success').remove();
					$('#review-modal').prepend(
						'<div class="alert alert-success success" style="width:95%;"><i class="fa fa-check-circle"></i> ' +
						json['success'] + '</div>');
					$('input[name=\'name\']').val('');
					$('textarea[name=\'text\']').val('');
					$('input[name=\'price_rating\']:checked').prop('checked', false);
					$('input[name=\'quality_rating\']:checked').prop('checked', false);
					$('input[name=\'value_rating\']:checked').prop('checked', false);
				}
			}
		});
	});
</script>
