<style>
.width-100{width:100%!important}.sell-name-up{font-weight:700}.sell-name-up:hover,.text-white{color:#fff!important}.bg-seller-info{background-color:#004e73!important}.pl-10{padding-left:10px!important}.caption .vendor-div{text-align:center;display:block;background:#fff}a.text-dark{color:#6a6a6a;text-decoration:none}.caption .vendor-div:not(.first){font-size:12px;padding:0}.category-layout .wk-product-thumb{background:#fff;border:1px solid #dde;padding:5px}.category-layout{padding:15px}.category-layout .product-thumb .caption{padding:10px 20px;min-height:105px} 
.product-thumb{overflow:hidden !important;}
.wk-mp-text-hide {
    font-size: 10px;
    font-family: Poppins, sans-serif;
    text-overflow: ellipsis;
    line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 2px;
}

@media(max-width:1192px) {
  .wk-mp-text-hide{
        width: 155px;
  }
}
@media(max-width:917px) {
  .wk-mp-text-hide{
        width: 105px;
  }
}
@media(max-width:768px) {
  .wk-mp-text-hide{
        width: 95px;
  }
}
</style>
<div class="title-wrapper">
    <h3 class="title module-title">{{ title}}</h3>		
</div>
<div class="carousel swiper-viewport">
  <div id="carousel_wk_mp" class="swiper-container">
    <div class="swiper-wrapper">
		{% for partner in partners %}
		<div class="category-layout swiper-slide">
			<div class="product-thumb" {% if not partner['thumb'] %} style="background-color:{{ partner['backgroundcolor'] ?? '#004d73'}}; width:220px; height:220px;" {% endif %}>
				<div class="image-group">
					<div class="image">
						<a href="{{ partner['sellerHref']}}" class="product-img " title="">
							{% if partner['thumb'] %}
								<div>
									<img src="{{ partner['thumb']}}" data-src="{{ partner['thumb']}}" width="250" height="250" alt="{{ partner['name']}}" class="img-responsive img-first lazyload lazyloaded" data-loaded="true">
								</div>
							{% endif %}
						</a>
					</div>
				</div>

				<div class="caption">
					<div class="vendor-div first" {% if partner['country'] %} style="margin-top:-5px" ; {% else %} style="margin-top:14px" ; {% endif %}>
						<a href="{{ partner['sellerHref']}}" class="wk-mp-text-hide">{{ partner['name']}}</a>
					</div>
					<div class="vendor-div secnd" {% if not partner['country'] %} style="padding: 0 0 10px 0;" {% endif %}>
					{% if partner['country'] %}
						<p class="">{{ 'Location: ' }}
							<b class="font-weight-bold">{{ partner['companylocality'] ? partner['companylocality']~', ' : ''}}
								{{ partner['country']}}</b>
						</p>
					{% endif %}
					</div>
					<div class="vendor-div third">
						{% if partner.feedback_total %}
							<div class="rating {% if (journal3.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
								<div class="rating-stars">
									{% for i in 1..5 %}
										{% if partner.feedback_total < i %}
											<span class="fa fa-stack">
												<em class="fa fa-star-o fa-stack-2x"></em>
											</span>
										{% else %}
											<span class="fa fa-stack">
												<em class="fa fa-star fa-stack-2x"></em>
												<em class="fa fa-star-o fa-stack-2x"></em>
											</span>
										{% endif %}
									{% endfor %}
									<span>
										{% if partner.feedback_count %}
											{{ partner.feedback_total }}
											{{ '( '~partner.feedback_count~' Review'~' )'}}
										{% else %}
											{{ 'No Review' }}
										{% endif %}
									</span>
								</div>
							</div>
						{% else %}
							<div class="rating no-rating {% if (journal3.getIn(prefix ~ 'RatingPosition', _context) == " hover") %}rating-hover{% endif %}">
								<div class="rating-stars">
									{% for i in 1..5 %}
										{% if partner.feedback_total < i %}
											<span class="fa fa-stack">
												<em class="fa fa-star-o fa-stack-2x"></em>
											</span>
										{% else %}
											<span class="fa fa-stack">
												<em class="fa fa-star fa-stack-2x"></em>
												<em class="fa fa-star-o fa-stack-2x"></em>
											</span>
										{% endif %}
									{% endfor %}
									<span>
										{% if partner.feedback_count %}
											{{ partner.feedback_total }}
											{{ '( '~partner.feedback_count~' Review'~' )'}}
										{% else %}
											{{ 'No Review' }}
										{% endif %}
									</span>
								</div>
							</div>
						{% endif %}

					</div>
					<div class="vendor-div fourth">
						<a
							class="text-dark" href="{{ partner['sellerHref']}}" title="{{ text_total_products}}">
							{# <span class="btn-text sell-name-up">{{ text_total_products}}{{ partner['total_products']}}</span> #}
							<span class="btn-text text-dark">{{ partner['total_products']}}
								{{ "Product(s)"}}</span>
						</a>
					</div>


				</div>
			</div>
		</div>
		{% endfor %}
	</div>
  </div>
  <div class="swiper-pagination carousel_wk_mp"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script type="text/javascript">
$('#carousel_wk_mp').swiper({
	mode: 'horizontal',
	slidesPerView: 4,
	slidesPerView: 4,
	breakpoints: {
		// when window width is >= 320px
		320: {
		slidesPerView: 1,
		// spaceBetween: 20
		},
		// when window width is >= 380px
		380: {
		slidesPerView: 1,
		// spaceBetween: 30
		},
		// when window width is >= 480px
		480: {
		slidesPerView: 2,
		// spaceBetween: 30
		},
		// when window width is >= 640px
		640: {
		slidesPerView: 3,
		// spaceBetween: 40
		}
	},
	pagination: '.carousel_wk_mp',
	paginationClickable: true,
	nextButton: '.carousel .swiper-button-next',
    prevButton: '.carousel .swiper-button-prev',
	autoplay: 2500,
	loop: true
});
</script>