<link rel="stylesheet" href="catalog/view/theme/hp/stylesheet/edit-acc.css">
{{ header }}
<div id="account-address" class="container">
  <nav id="checkout-checkout" class="container mb-4 mt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-black" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    {{ column_right }}
    <div id="edit-content-acc-list" class="{{ class }}">{{ content_top }}
      <div class="upper-section">
        <h3>{{ text_address_book }}</h3>
        <a href="{{ add }}" class="save-btnss">{{ button_new_address }}</a>
      </div>
      {% if addresses %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% for result in addresses %}
           <form  action="{{ result.delete }}" method="post" enctype="multipart/form-data" id="form-address-{{ result.address_id }}">
            <div class="main-panel">
              <div class="left-panel">
                {{ result.address }}
              </div>
              <div class="right-panel">
                <div class="rightU-panel">
                  <a href="{{ result.update }}" class="">{{ button_edit }}</a> <div class="vl"></div> <a href = "{{ result.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="" onclick="return confirm('{{ text_confirm }}')">{{ button_delete }}</a>
                </div>
                <div class="rightB-panel">
                  {% if result.address_id == default_address_id %}
                    <span class="default-add">Default Address</span>
                  {% endif %}
                </div>

              </div>
            </div>
          </form>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      
      <div class="buttons clearfix">
    <!--   <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div> --> 

      </div>
      {{ content_bottom }}</div>
</div>
</div>
{{ footer }}