<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> {{ heading_title }}</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <td class="text-center">{{ column_order_id }}</td>
          <td class="text-center">{{ column_customer }}</td>
          <td class="text-center">{{ column_status }}</td>
          <td class="text-center">{{ column_date_added }}</td>
          <td class="text-center">{{ column_total }}</td>
          <td class="text-center">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
          <td class="text-center">{{ order['order_id'] }}</td>
          <td class="text-center">{{ order['customer'] }}</td>
          <td class="text-center">{{ order['status'] }}</td>
          <td class="text-center">{{ order['date_added'] }}</td>
          <td class="text-center">{{ order['total'] }}</td>
          <td class="text-center"><a href="{{ order['view'] }}" data-toggle="tooltip" title="{{ button_view }}" class="wk-btn btn btn-info"><i class="fa fa-eye"></i></a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
